[2017-08-21 15:36] Bhide opened #358 "Memory leaks when using ActionSheetDatePicker on a modally presented UIViewController"
`dateSelector = ActionSheetDatePicker.init(title: "", datePickerMode: .date,
selectedDate: Date(),
doneBlock: { [unowned self](datePicker, date, index) in
                    debugPrint("selected date: \((date as! NSDate).formatDateTime())")

                    self.registerInfo["dob"] = AppUtils.stringFromDate(date: (date as! Date), dateFormat: "MM-dd-yyyy") //(date as! Date)

[2017-08-21 16:02] Bhide commented on #134
The `ActionSheetStringPicker` too leaks memory. I found this when I am using it on a modally presented `UIViewController`. I think we should reopen this issue.
Refer #358

[2017-08-23 18:39] ykws commented on #357
@aapacsoft Hi, you can disable the past dates, but visible.

`ActionSheetDatePicker` has `minimumDate` property.
If you set any date, disable before the date.

the following code snippet.
https://gist.github.com/ykws/ff74c7b3e08916d9abf0727c78bbfd9d

[2017-09-01 06:45] jignesh133 commented on #100
i am not able to change the cancel and Done buttons colour,and picker text colour.

[2017-09-07 10:43] adamhongmy commented on #358
I notice in [ActionSheetCustomPicker.h ](https://github.com/skywinder/ActionSheetPicker-3.0/blob/master/Pickers/ActionSheetCustomPicker.h)file, the delegate is strong. `@property(nonatomic, strong) id <ActionSheetCustomPickerDelegate> delegate;`  So this property was holding a strong reference to the view controller, which prevented it from ever being deallocated. Changing it to weak might solve t

[2017-09-08 05:00] gulzatique commented on #274
I used this bit of code:
`//localize barButtons
        picker?.setDoneButton(UIBarButtonItem.init(title: "PICKER_Done".localized, style: .done, target: self, action: nil))
        picker?.setCancelButton(UIBarButtonItem.init(title: "PICKER_Cancel".localized, style: .done, target: self, action: nil))`

 and localized is method which I use to localize all my strings on the fly :
`extension String {

[2017-09-08 09:42] ChristianDeckert commented on #346
+1

[2017-09-18 09:18] MyNameIsWood commented on #100
@jonathan2708
paste the following code in SWActionSheetVC/@implementation SWActionSheetVC:
`- (UIInterfaceOrientationMask)supportedInterfaceOrientations {

    return UIInterfaceOrientationMaskPortrait;

}
`

[2017-09-20 08:41] bb-git opened #359 "Title not getting truncated after upgrade to Xcode 9"
After the upgrade the title does not get truncated correctly and the buttons get truncated instead upto 0 characters.

![image uploaded from ios](https://user-images.githubusercontent.com/7348507/30634655-196082b4-9df0-11e7-950d-cfaa2f172422.jpg)
![2017-09-20 10 35 42](https://user-images.githubusercontent.com/7348507/30634683-2fb79c3c-9df0-11e7-9b6e-43c3d55d2219.png)

[2017-09-21 09:07] yhelfronda opened #360 "App crashes in iOS 11"
Hi,

I'm currently using library in our application, but when the users update their OS to iOS 11 the app crashes. Could you please also support iOS 11 in your library? Or could you suggest any workaround to make your library work so I can implement it on my side?

BTW, the development/maintenance is on-going, so I came up with this issue crashes thing.

Thank you in advance!

[2017-09-21 10:06] #360 closed

[2017-09-27 07:20] s2339956 opened #361 "ActionSheetPicker-3.0 與 SVProgressHUD"
ActionSheetPicker-3.0 與 SVProgressHUD
我使用 ActionSheetPicker 選擇後 執行api SVProgressHUD
SVProgressHUD 事件 會不動作
請問大家有遇到這樣的問題嗎！？

[2017-10-04 17:25] zoufishanmehdi opened #362 "Tool bar buttons not appearing in testflight"
Hi, date picker tool bar buttons appear in Xcode but not in testflight. This is happening on iPhone 7 iOS 10 and iOS 11. Any ideas? Thank you.
![datepickertoolbarbuttonsnotvisible](https://user-images.githubusercontent.com/12058032/31190805-33b9853c-a90a-11e7-8e0f-b42caee314e0.png)

[2017-10-10 16:45] zoufishanmehdi opened #363 "Swift 4"
Hi, are they any plans to migrate to Swift 4 in the near future? Thank you.

[2017-10-12 04:22] Michael-753 opened #364 "ActionSheetPicker crashes intermittently - EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000200"
Hello,

I don't recall this ever happening on older versions of iOS, but now on 10 my users are experiencing intermittent crashes. After investigation, it seems that when trying to build action sheet pickers, that it intermittently will cause a crash on this line:

**AbstractActionSheetPicker.m:**
self.context = [CIContext contextWithOptions:nil];

I followed some user suggestions with similar iss

[2017-10-14 04:21] Michael-753 commented on #364
I found out this happened as a result of not calling 'show' directly (i.e. instantiating the action sheet object, but not using it until I needed it).

By moving this logic all together (instantiating a new one every time) I was able to resolve the memory leak and thus my issue.

I will do more testing and then close this issue if it turns out to be true (having my users test again to make sure no

[2017-10-19 08:00] MyNameIsWood commented on #358
@adamhongmy Do you mean modify the source code directly?

[2017-10-19 08:07] adamhongmy commented on #358
@MyNameIsWood Yup. diy or wait for the owner to do so. Btw, **if only you use**  **ActionSheetCustomPicker** class, then it worth a shot to try it by changing `@property(nonatomic, strong) id <ActionSheetCustomPickerDelegate> delegate;` to `@property(nonatomic, weak) id <ActionSheetCustomPickerDelegate> delegate;`

[2017-10-19 08:16] MyNameIsWood commented on #358
@adamhongmy I already do so. Will it cause any other bugs?

[2017-10-19 08:19] adamhongmy commented on #358
@MyNameIsWood Not really. Btw are u calling ActionSheetCustomPicker class?

[2017-10-19 08:20] adamhongmy commented on #358
For me it doesn't affect me whether I change it or not because i'm not using it.

[2017-10-23 20:39] jeremiasdsa opened #365 "Change Colors"
Hi,

Is that possible to have a set of colors like the image ? If so, how can I achieve that?

![screen shot 2017-10-23 at 17 36 04](https://user-images.githubusercontent.com/9071775/31911988-da49118e-b818-11e7-8b0a-b6a0934293e9.png)

[2017-10-26 02:37] yapiskan commented on #362
That is happening for me as well. Also, couldn't find a way to change the colors.

[2017-10-27 13:28] yapiskan commented on #362
@zoufishanmehdi I found this: https://stackoverflow.com/questions/46107640/ios11-uitoolbar-contentview

Just place the blelow code in `createPickerToolbarWithTitle` method before returning the `pickertoolbar`.
`[toolbar layoutIfNeeded];`

[2017-11-03 08:24] jriiringan commented on #363
up for Swift 4

[2017-11-03 16:35] leoxpx opened #368 "In iOS 11 keyboard can not be stowed when the picker bounces"
when i choose a textField then choose picker, both of them couldn't down ,the view is death.

[2017-11-05 20:37] Oren-Edrich opened #369 "unknown error -1=ffffffffffffffff Command /bin/sh failed with exit code 1"
I am trying to Archive my project however, I keep receiving this error:
`unknown error -1=ffffffffffffffff
Command /bin/sh failed with exit code 1`

My project will run completely fine on a simulator or on my phone, but it will not build, test, or archive. I have attached a screen shot of the error I have. Any help is greatly appreciated.
<img width="651" alt="screen shot 2017-11-04 at 11 28 47 pm

[2017-11-07 04:09] #369 closed

[2017-11-07 07:29] martinpfannemueller commented on #369
How did you fix the problem? I get exactly the same error message.

[2017-11-07 12:00] Oren-Edrich commented on #369
It was a target issue. Find all of the ActionSheet files and make sure their targets are set for the app and the tests.

[2017-11-08 20:34] martinpfannemueller commented on #369
I had basically the same problem. Thanks for sharing!

[2017-11-16 11:10] monicarajendran commented on #285
hi, how can i get the corresponding date components like day, month,  year from the picker ?

[2017-11-17 22:16] zoufishanmehdi commented on #363
@jriiringan great, thank you

[2017-11-20 11:25] #339 closed

[2017-11-21 16:05] skywinder commented on #363
Hey-hey!
I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2017-11-21 16:08] skywinder commented on #334
There is no recent activity for this issue. Seems this issue is not valid anymore. Feel free to reopen it, if I'm wrong.

[2017-11-21 16:08] #334 closed

[2017-11-21 16:10] skywinder commented on #359
Hi. thanks for mention it. It happens because of too ling message.
 Is there any options to fix that in the library?

[2017-11-21 17:21] skywinder commented on #293
Ready to go on Swift 3.0  :)

[2017-11-24 08:00] qh4324357 opened #370 "PickerView display jogging speed"
How to improve the display speed

[2017-11-27 08:11] moheny commented on #289
Did you solve this issue ? I'm having the same error !

[2017-11-30 01:51] StefaniOSApps opened #371 "How to check - ActionSheetStringPicker is presented ?"
How can I check if a ActionSheetStringPicker is presented?
I want update frame after device orientation change.

THX !!

[2017-12-05 19:46] skywinder commented on #371
There are no callbacks after you call it to show up.
But it has to handle orientation change events automatically.

[2017-12-05 23:38] skywinder commented on #289
Please, kindly check, that params in the array, such as `self.index3` is in the range of items. I believe there are out of range.

[2017-12-05 23:42] skywinder commented on #289
As I can see from tests:
https://github.com/skywinder/ActionSheetPicker-3.0/blob/272f31c25c9e8b45cf8e8ed2b99968d01b9a71bb/Pickers/ActionSheetCustomPicker.m#L82

It happens, when the amount of items in the array is not equal not the number of sections.

`[@(self.index1),@(self.index2),@(self.index3)]`

there is 3 items.
on your picture only 2 column at all.

please provide full delegate methods to

[2017-12-05 23:42] #289 closed

[2017-12-06 22:56] skywinder commented on #370
There is no output interface for that. You can hack it or implement particular option to adjust it.I would be happy to merge it 👍

[2017-12-06 22:56] #370 closed

[2017-12-13 16:13] Maxatma commented on #368
so just use `view.endediting()` ?

[2017-12-16 01:05] skywinder commented on #368
Please, give provide more details about this issue.
How it's going locked? SOme screenshots or code or both of them.

@Maxatma provide good quickfix for that, but actually it could be nice, if it should work without extra code. (for example, we can fire endEditing from the picker) 👍

[2017-12-16 21:04] swiftyAlpha commented on #363
how to make this run on swift project?

[2017-12-16 21:05] swiftyAlpha commented on #363
how can I import CoreActionSheetPicker framework? I have tried manually but getting this issue:dyld: Library not loaded: ...Application/0F14AA40-07E8-403D-BAE7-687589E078FD/POCKETNEWZ.app/POCKETNEWZ
  Reason: image not found

[2017-12-17 01:50] skywinder commented on #363
@swiftyAlpha  please, have a look at demo project that based on the swift.

[2017-12-23 18:07] antonijap opened #373 "Using ActionSheetCustomPicker"
I need to create a custom picker with numbers. I am trying to find documentation, but it seems this one is not really covered. I need some assistance if possible.

[2017-12-25 12:27] DmitriyBagrov92 opened #374 "Customise rowHeightForComponent"
If i decide to input long text in row, they will be cutted.
It will be better to autoresize row height according string value or customise it.

Apple doc delegate method:
https://developer.apple.com/documentation/uikit/uipickerviewdelegate/1614386-pickerview

[2017-12-28 07:19] leoxpx commented on #368
`- (UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath {`
......
`[cell setupTitlte:_inputInfosModel.inputLabel inputText:showArr.firstObject inputPlaceholder:_inputInfosModel.inputTip inputAction:nil selectAction:^{`

`[self dismissKeyboard]; // dismiss keyboard
ActionSheetStringPicker * picker = [[ActionSheetStringPicker alloc]initWithTitle:@"choo

[2017-12-28 09:07] Maxatma commented on #368
@leoxpx Please, format your code, it is impossible to read. To help you, @skywinder  first need to read what problem you have.

[2017-12-28 09:49] leoxpx commented on #368
-(UITableViewCell *)tableView:(UITableView *)tableView cellForRowAtIndexPath:(NSIndexPath *)indexPath {

        UITableViewCell * cell =   ......

        [cell setupTitlte:@"title" inputText:@"" inputPlaceholder:@"please input" inputAction:nil selectAction:^{

        [self dismissKeyboard]; // dismiss keyboard

        ActionSheetStringPicker * picker = [[ActionSheetStringPicker alloc]initWithT

[2017-12-29 04:48] Maxatma commented on #368
Not sure, if I correctly understood ur code, but
  we only see how u initialize ur picker, nothing about how it appears.

[2017-12-30 00:25] skywinder commented on #368
Thanks, a lot for dive into and helping with this,  @Maxatma 👍  Much appreciated!

@leoxpx  please, show the code, that presents picker. (ie `showPicker` method)

[2017-12-30 00:30] skywinder commented on #373
Hmmm. Please check out Example project in this repo.
https://github.com/skywinder/ActionSheetPicker-3.0#example-projects

There is Huge variate of any kind of pickers.

[2017-12-30 00:32] skywinder commented on #374
I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2017-12-30 16:52] antonijap commented on #373
There is no example I need. Thanks anyway.

[2017-12-30 16:52] #373 closed

[2018-01-08 10:20] TibiaZ commented on #57
Hi, I have been looking for the way to set a initial default row when the picker opens. Any suggestion ?

[2018-01-19 04:48] dangnguyenhuu commented on #338
Hi @canaksoy, im facing same problem, how did you solve it?

[2018-01-22 03:39] Maxatma commented on #96
Just had this issue - still not fixed? why closed so?

[2018-01-22 16:01] Maxatma opened #376 "iOS 10 custom cancel and done buttons do not appear"
<img width="740" alt="screen shot 2018-01-22 at 6 00 36 pm" src="https://user-images.githubusercontent.com/7135226/35230255-38ab3d52-ff9e-11e7-8ae6-9f8bc4606523.png">

[2018-01-22 16:12] Maxatma commented on #376
I guess, the problem is similar to
https://github.com/skywinder/ActionSheetPicker-3.0/issues/350
https://github.com/skywinder/ActionSheetPicker-3.0/issues/362
But the only one described solution isn't useful, coz toolbar in AbstractActionSheetPicker already has  [pickerToolbar layoutIfNeeded];

[2018-01-22 16:14] Maxatma commented on #376
[code]

[2018-01-25 13:01] lvandyk commented on #156
Any update on this or should I create a fork?

[2018-01-29 20:04] bhanu501 opened #377 "Not able to get exact date"
Here am trying to pick some date from date picker.
suppose i picked **2018-02-05** from action sheet. but in output am getting **2018-02-04**.
here is the following code i tried. In **print(value)**, i got following output
**Output**: 2018-02-04 18:30:00 +0000

[code]

[2018-02-01 09:02] vishaldeshai opened #378 "Month & Year Picker"
Hello,

Can we set Only Month and Year picker through ActionSheetPicker?

thanks in advance.

[2018-02-01 13:26] patelgaurav4u commented on #364
same issue found

[2018-02-03 12:53] qqianng opened #380 "clang: error: -fobjc-weak is not supported on the current deployment target"
CompileC /Users/liqiangqiang/Library/Developer/Xcode/DerivedData/ThaiFintech-auliprptidlrrifrcvnuvaatioko/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/ActionSheetPicker-3.0.build/Objects-normal/x86_64/ActionSheetCustomPicker.o ActionSheetPicker-3.0/Pickers/ActionSheetCustomPicker.m normal x86_64 objective-c com.apple.compilers.llvm.clang.1_0.compiler
    cd /Users/liqiangqiang/Desk

[2018-02-03 12:57] qqianng commented on #380
Do some one can tell me why? When i build project i encounter this problem, but in other computer it can build successfully!

[2018-02-04 10:44] qqianng commented on #380
<img width="867" alt="2018-02-04 6 40 30" src="https://user-images.githubusercontent.com/26874013/35776633-f7f44c6c-09da-11e8-94dc-cbe68d7b8006.png">
choose weak references in manual retain release to NO, and build again, and it will build successfully!

[2018-02-04 10:45] #380 closed

[2018-02-05 14:10] phawk opened #381 "Potential vulnerability recording microphone"
Not sure if this is an issue, but I have seen very weird behaviour. I use micro-snitch on my mac to let me know when microphone or webcam are in use.

When running an app with action sheet picker in the iOS simulator no devices are in use, then when I open an action sheet picker micro snitch tells me that my microphone is being used, and doesn't go away until I close the simulator.

Any help with

[2018-02-06 16:49] #381 closed

[2018-02-06 16:49] phawk commented on #381
This appears to just be issues with iOS simulator requiring microphone access when it needs to play a sound

[2018-02-07 02:32] emptywalker commented on #378
I need this feature too. The example don't have it.

[2018-02-08 10:20] AndreaMiotto opened #382 "How to add border to the UIToolbar"
Hi I'm trying to add some border to the bottom of the toolbar of the picker..

asp.toolbar is nil so I don't know ho to set it. Any tip?

[2018-02-08 10:39] AndreaMiotto commented on #382
solved. Show it's needed before!

[code]

[2018-02-08 10:39] #382 closed

[2018-02-08 11:08] AndreaMiotto opened #383 "How can I change / disable the overlay dark view"
Hi I would like to disable/change color of the dark overlay view under the picker that cover the screen.
Is it possible?

[2018-02-17 13:51] pritamsalunkhe4 opened #384 "ActionSheetPicker popover selection is not working for iPad on iOS 11+"
Hello,

I am using ActionSheetPicker for iPhone and iPad but on iPad having iOS11+ the popover is not working. When I am trying to scroll the picker it will get dismissed automatically. I thought there will be some issue with my code but I have downloaded the Sample Project and getting same issue with that also.

Everything is working well on iOS 10 but not on iOS11+.

@skywinder Thanks in Advance

[2018-02-20 13:50] idrees88 opened #385 "I have upgraded the project to Swift4. Now it has started given some warnings. Need to clear that."
I have upgraded the project to Swift4. Now it has started given some warnings. Need to clear that.

Deployment target I am using is iOS9.0

[2018-02-21 09:51] muzamilhassan1987 opened #387 "ActionSheet Crashes on Xcode 9.2"
App crashes on device but it works on simulator
When i am using it on xcode 8 its working fine but when i update my project to xcode 9 app crashes on device but it works on simulator

Crash log
`dyld: Library not loaded: @rpath/ActionSheetPicker_3_0.framework/ActionSheetPicker_3_0
  Referenced from: /var/containers/Bundle/Application/A7B8157E-EBCA-40CF-AB85-65527BEE5A96/  Reason: no suitable image

[2018-02-21 10:08] alper opened #388 "Crash if the parent becomes a zombie"
I have a setup where the viewcontroller that is presenting the ActionSheet can be dismissed before the sheet is displayed. This causes the sheet to show somewhere else and its parent to be a zombie.

I know that is not an ideal setup, but so far I'm fine with it.

The only problem is that pressing cancel on the ActionSheet causes things to hang in my Xcode around this code:

[code]

I'm not even s

[2018-02-26 11:37] palKaran commented on #169
This may help you.

`[[ActionSheetDatePicker alloc] initWithTitle:@"Date" datePickerMode:UIDatePickerModeDate selectedDate:_selectedDate minimumDate:nil maximumDate:[NSDate date] target:self action:@selector(toDateWasSelected:element:) origin:textField]`

[2018-02-27 20:14] LinusGeffarth commented on #387
I second this with the following warning:

[code]

Current workaround: `shift + command + k` to clean the project, then re-run. Not pretty, but works for now.

[2018-03-08 11:40] adamhongmy commented on #28
Hi, what happens to this uiPopoverArrowDirection? I couldn't call this in this 2.3.0 version.

[2018-03-20 12:34] iOS-Shehzad-Ali opened #389 "Not able to set Arabic text on Cancel and Done Button of ActionSheetStringPicker"
I don't know how to set other languages text on Cancel and Done buttons of ActionSheetStringPicker, please let me know how can I achieve this.

[2018-03-22 07:08] iOS-Shehzad-Ali commented on #389
I made custom buttons and set NSLocalized text on it.
Thanks

[2018-03-22 07:08] #389 closed

[2018-03-28 09:08] katepel commented on #324
I am using this for my DatePicker:
[code]

[2018-03-30 08:50] SalvatoreAD commented on #268
is it possible to have this format "eeee, dd / mm/ yyyy"??

[2018-04-05 14:51] leeprobert opened #390 "Can't set minimum or maximum date for time only picker"
I have two buttons, one for morning and one for evening. I want to restrict the hours in the picker to before and after midday. Here's my code:

`@IBAction func setTimeBtnAction(_ sender: Any) {

        let btn = sender as! UIButton
        let isMorning = btn == morningTimeBtn

        let calendar = Calendar.current
        var minDateComponent = calendar.dateComponents([.hour,.minute], from: D

[2018-04-16 00:29] pfk3 opened #394 "Cannot change text alignment of columns in custom picker"
When one creates an ActionSheetMultipleStringPicker with multiple columns in the picker, those columns are all always presented to the user with the text of each column aligned center and there is no way to change this.

We should be able to set the text alignment for each column as we prefer because many times it would be more visually appealing to change the alignment.

As an example, if I have

[2018-04-16 19:37] skywinder commented on #394
Hello, @pfk3
Alignment for multiple pickers is not available now. Since there is a lick of space I'm not sure, that it could be possible to fit everything there.

I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2018-04-16 19:39] skywinder commented on #388
Hi. can you send a crash message, that appears, I will try to find an error or reporoduce it.

[2018-04-16 19:40] skywinder commented on #368
Feel free to reopen the issue, if you still need help. 👍

[2018-04-16 19:40] #368 closed

[2018-04-20 09:30] alper commented on #388
I think it's specific for my app but if you can figure it out:

[code]

[2018-04-20 09:34] alper commented on #388
I think it's specific for my app but if you can figure it out:

[code]

[2018-04-20 09:57] alper commented on #388
The cancel action does not print out a call stack but just hangs on `EXC_BAD_ACCESS` at:

`[self notifyTarget:self.target didCancelWithAction:self.cancelAction origin:[self storedOrigin]];`

[2018-04-20 10:08] alper commented on #388
I can fix my problem by wrapping the presentation of the ActionSheet in a `if (self.navigationController) {}` but having to think of that always is a bit lame.

[2018-05-04 19:09] skywinder commented on #378
I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2018-05-08 00:01] eyyubzademireli commented on #141
Hi. Azerbaijani language doesn't work. How can I fix it? locale="az"

[2018-05-10 12:09] veer-suthar opened #395 "Language change run time"
If I change language English to Arabic - it changes view, after I set my RootViewController, but switch back does not work without restart of App.

it seems, Localization is only checked at start of static variable. So its creating issue, when user is running app and not killing app.

Thanks.

[2018-05-16 16:33] MehulSojitra16 commented on #346
Same here. Is there an any solution?

[2018-05-21 04:57] alfian0 commented on #385
same issue

[2018-05-21 07:28] ambujshukla-cdn commented on #384
@pritamsalunkhe4 did you get the solution of this problem. I',m facing the same issue.

[2018-05-22 08:25] spijs opened #396 "ActionSheetDatePicker incorrect time order in Arabic"
I am noticing incorrect behavior when creating an ActionSheetDatePicker instance. It appears like the order of the time is incorrect in Arabic. It should be (English equivalent) AM 07:45 and it currently shows AM 45:07. Is there any way around this? In English everything seems to work as expected. It would look like everything is mirrored, but this is not what is expected in Arabic.

![image](http

[2018-05-30 19:42] skywinder commented on #396
Hi there.
This is a wrapper of native `UIDatePicker`.
Is this reproducible in it?

[2018-05-30 19:45] skywinder commented on #388
@alper thanks for update. I'm glad, that you found a workaround. I can't reproduce this bug, so I will close this issue for now. Please, let me know, if you have any idea, what causes the problem 👍

[2018-05-30 19:45] #388 closed

[2018-05-30 19:46] skywinder commented on #371
Feel free to reopen the issue, if you still need help. 👍

[2018-05-30 19:46] #371 closed

[2018-05-30 19:49] skywinder commented on #374
Feel free to reopen the issue, if you still need help. 👍

[2018-05-30 19:49] #374 closed

[2018-05-30 19:50] skywinder commented on #387
Feel free to reopen the issue, if you still need help. 👍

[2018-05-30 19:50] #387 closed

[2018-05-31 08:20] spijs commented on #396
I just tried it out with a simple UIDatePicker. No issues there.
![simulator screen shot - iphone 8 plus - 2018-05-31 at 10 20 03](https://user-images.githubusercontent.com/2649984/40770896-39f4fc4c-64bc-11e8-8db4-2d8fd38b4b8c.png)

[2018-05-31 08:35] spijs commented on #396
It seems like it is ok in UIDatePicker. By changing the locale to Arabic I get the following screenshot:
![simulator screen shot - iphone 8 plus - 2018-05-31 at 10 20 03](https://user-images.githubusercontent.com/2649984/40771682-4a610de4-64be-11e8-8046-2a13adf8dc68.png)

[2018-06-04 15:49] reecreateeduardo opened #397 "ActionSheetStringPicker change button title"
Hi, I have tried countless options to try and change the title of the button with  ActionSheetStringPicker.

Could anyone help me with that?

` @IBAction func pickerBtnClicked(_ sender: Any) {
        ActionSheetStringPicker.show(withTitle: "Categories", rows: item, initialSelection: 1, doneBlock: {
            picker, value, index in

            print("value = \(value)")
            print("index

[2018-06-17 05:54] moheny opened #398 "SupportedInterfaceOrientations Horizontal fixed"
As we all know we had problem with the supportedInterfaceOrientations property which doesn't take much effect.
I have fixed this issue by injecting the SIO property into the ActionSheetVC.
https://github.com/moheny/ActionSheetPicker-3.0/tree/supportedInterfaceOrientations-fix

[2018-06-18 19:43] quintonpryce opened #400 "Selector for setDoneButton is not working"
Tried setting up an ActionSheetCustomPicker and I needed an action on done. The button title will change but the selector won't hook up.

picker?.setDoneButton(UIBarButtonItem(barButtonSystemItem: .save, target: self, action: #selector(Class.method(_:))))

I ended up using the actionSheetPickerDidSucceed() callback.

[2018-07-04 19:02] skywinder commented on #398
Dear @moheny, Thanks for the feedback! I but my comments to the PR with the fix.

[2018-07-11 08:21] ankit-betterbutter commented on #359
Was this solved?

[2018-07-12 07:31] ankit-betterbutter commented on #359
For the time being I have added this :
In AbstractActionPicker.m
replace this method

[code]

[2018-07-25 07:31] moheny commented on #398
@skywinder Can you please review it again.

[2018-08-06 12:51] DanielMartinezC commented on #307
Hi, i'm having similar issue with this line of code (line 93 of ActionSheetStringPicker.m) too:

Fatal Exception: NSRangeException
*** -[__NSArrayM objectAtIndexedSubscript:]: index 3 beyond bounds [0 .. 2]

Is there any future fix or recommendation about this?

Thanks!

[2018-09-03 10:58] AndreaMiotto opened #401 "Swift 4.2"
Hi, are they any plans to migrate to Swift 4.2 in the near future? Thank you.

[2018-09-06 02:59] sprother opened #402 "close"

[2018-09-06 04:05] #402 closed

[2018-09-24 17:41] skywinder commented on #348
@xjki @moheny  if you are interested to help this project - I would be glad to make a work group with you 👍

[2018-09-26 08:13] xjki commented on #348
Let's give it a try.

[2018-09-26 08:18] moheny commented on #348
@skywinder Sure.

[2018-09-27 07:33] warisappify commented on #169
@skywinder can you please replace function named *DatePickerClicked* in your swift sample with following function

    @IBAction func DatePickerClicked(_ sender: UIButton) {
        let datePicker = ActionSheetDatePicker(title: "Date:", datePickerMode: UIDatePickerMode.date, selectedDate: Date(), doneBlock: {
            picker, value, index in
            print("value = \(String(describing: value

[2018-09-28 14:54] skywinder commented on #400
You have to initialize it with the `UIButton` look at example:
https://github.com/skywinder/ActionSheetPicker-3.0/blob/c78d7a8af26eb9e5f22ecb849c54804d6fd31be1/Example%20Projects/Example-for-iOS-7-and-6/Example/Classes/OldActionSheetPickerViewController.m#L186

your code should looks like this:

[code]

[2018-09-28 15:10] skywinder commented on #396
@spijs thanks for reply. I'm not familiar with arabic numerics, can you tell, did you solve the issue?

[2018-10-03 13:32] xjki commented on #348
It would be important for me to understand what is the strategy for maintaining library. For example - how many iOS versions back support is planned? (in my opinion - supporting current and 2 versions back is reasonable target), is rewrite to Swift a goal or is good compatibility enough? (issues asking for Swift support? rewrite?). Better Swift interop can be addressed with better header comments

[2018-10-03 13:41] xjki commented on #353
You can add instance variable for tracking which picker is active, use different picker action parameters for each picker, initialize each picker with its own doneBlock.

[2018-10-03 13:47] xjki commented on #341
Implemented in https://github.com/skywinder/ActionSheetPicker-3.0/pull/403

[2018-10-03 14:00] xjki commented on #384
Which kind of picker you are having probems with? Can you show the code?
Just tested myself on iPad with iOS11 and iOS12 both Date picker and String picker as popover without issues.

[2018-10-04 07:52] xjki commented on #377
By printing Date() you get datetime description relative to GMT timezone. Could it be that 2018-02-04 18:30:00 GMT is 2018-02-05 in your timezone?

[2018-10-04 07:55] xjki commented on #349
Run Swift-Example target to see example with Date+Time picker.

[2018-10-13 18:15] skywinder commented on #349
@ibrahimyilmaz7 did find an answer?
Feel free to reopen the issue, if you still need help. 👍

[2018-10-13 18:15] #349 closed

[2018-10-13 18:17] skywinder commented on #400
Feel free to reopen the issue, if you still need help. 👍

[2018-10-13 18:17] #400 closed

[2018-10-13 18:18] skywinder commented on #210
I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2018-10-13 18:27] skywinder commented on #58
@bb-git because datepicker uses native Apple Date picker, that doesn't support this option.

[2018-10-13 18:29] #58 closed

[2018-10-31 06:11] tomblah commented on #19
@skywinder I'm guessing that in this solution we should use:

`ActionSheetStringPicker *picker = [[ActionSheetStringPicker alloc] initWithTitle:@"Select a Block" rows:colors initialSelection:0 doneBlock:done cancelBlock:cancel origin:sender];
    [picker setDoneButton:[[UIBarButtonItem alloc] initWithTitle:@"My Text"  style:UIBarButtonItemStylePlain target:nil action:nil]];
    [picker showActionS

[2018-11-18 14:38] laindow commented on #384
I have same issue. This code don't show picker.

        let countryPicker = ActionSheetStringPicker(title: "Countries", rows: countryNames, initialSelection: startPos, doneBlock: { (actionPicker, selectedIndex, selectedValue) in

//            print("value = \(selectedValue ?? "")")
//            print("index = \(selectedIndex)")
            self.countryIndex = selectedIndex
            self.coun

[2018-11-21 20:40] xZeok commented on #401
please!! swift 4.2 support! thanks!

[2018-12-13 13:56] malavcygnet commented on #117
@pcecchetti can you please right here a code with proper guideline to do this

[2019-01-11 21:08] koust commented on #361
Hi ,

I review this lib. ActionSheetPicker-3.0 is not working with SVProgressHUD. You should be  use **setContainerView**  method for work with SVProgressHUD.

[2019-01-25 04:55] russeljayvitriolo opened #408 "ActionSheetStringPicker.show auto dismiss the view in doneBlock"
Hi I use SCLAlertView to pop up an alert view, my issue is in doneBlock, whenever I pop up an alert it auto dismiss it.

[2019-01-27 12:34] mcg95 commented on #272
Hi. Is there any solution for this? To use this framwork with BITCODE set to YES?

[2019-02-14 09:59] moheny commented on #398
@skywinder Is there any reason for the delay?

[2019-02-20 04:30] iAmGauraviOS opened #410 "How to show previous selected time or interval in CountDownTimer as we need to pass date"

[2019-03-27 11:22] zoufishanmehdi commented on #354
@alfian0 were you able to figure this out?

[2019-03-27 21:08] skywinder commented on #354
There is no such feature yet. I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2019-04-04 07:42] yawaraym opened #411 "I want to show segmented control in middle of topbar, in place of title."
I am able to place it in place of cancel button now I just want to move it to centre of that bar.
Do we have any option of moving cancel button position to the centre.

[2019-04-05 11:44] yawaraym opened #412 "Is there any way of open/close action sheet without anumation?"
I want to close and open actionsheet without using any animation, is that possible?

[2019-04-21 17:08] colinrblake commented on #215
I have the exact problem @CigarsNMartinis  describes (text field followed by ActionSheetDatePicker of type UIDatePickerModeCountDownTimer). I've tried calling endEditing:YES and resignFirstRepsonder before creating the picker but the picker still appears BEHIND the keyboard.

It's timing related because it doesn't occur in the simulator, and to fix the problem on a real device I call resignFirstRe

[2019-05-09 11:59] mbijapur opened #416 "ActionSheetPickerView Picker View not appearing for iPAD"

[2019-05-09 12:00] mbijapur commented on #416
ActionSheetPickerView Picker View not appearing for iPad, while the same works on iPhone.

[2019-05-09 12:32] mbijapur commented on #156
@onlyfew It worked for me. Thanks. But which pod version has this change? I am not able to get this change in latest pod version.

[2019-05-17 06:15] Hardiktspaceo commented on #156
@skywinder i am facing issue in **iPad** when i use **ActionSheetDatePicker** and **ActionSheetStringPicker**.

Here is my code

`ActionSheetDatePicker.show(withTitle: "Select Date", datePickerMode: .date, selectedDate: Date(), minimumDate: minDate, maximumDate: Date(), doneBlock: { (picker, date, origin) in
                            self.selectedDate = date as! Date

[2019-05-28 09:47] miledaoun opened #417 "Array Index out of range when moving between Textfields using the toolbar arrow keys"
Below is the stacktrace

Crashed: com.apple.main-thread
0  libswiftCore.dylib             0x1d0cf7b00 specialized _fatalErrorMessage(_:_:file:line:flags:) + 296
1  libswiftCore.dylib             0x1d0d433f4 specialized closure #1 in __SwiftNativeNSArrayWithContiguousStorage.objectAt(_:) + 112
2  libswiftCore.dylib             0x1d0d69b04 partial apply for closure #1 in __SwiftNativeNSArrayWithCont

[2019-06-04 12:40] forestallers commented on #156
Its working form me. but @skywinder it will better if we can have this in next release.

[2019-06-09 18:56] VivekVithlani commented on #156
Don’t pass

Hey

Don’t pass self.view in origin please
pass button or text field.

If user click on button then show picker so please pass button in origin,
If user click on textfield then show picket then pass textfield in origin.

[2019-06-15 00:48] skywinder commented on #348
Hey. that was an awesome time. Thanks to everyone , who participated in this project. Let's keep it alive together. Updates is here: #727

[2019-06-18 12:43] Vincent-Valembois opened #418 "ActionSheetStringPicker show when Back pressed"

[2019-06-18 13:29] #418 closed

[2019-06-20 08:35] Maxwell6635 commented on #416
Same here , I also facing this issues. Ipad is not showing the ActionSheetPickerView

[2019-06-27 14:48] zoufishanmehdi opened #419 "Adding actionsheet date picker on uitableview cell class doesn't dismiss it when pressing done"
Hi, I added the follow code in a UITableViewCell class to show date picker upon pressing a button in the cell. However, the date picker doesn't get dismissed when I press done. Instead, it executes the code below cancel and then `return` in the done block and keeps showing the date picker. Appreciate your help. Thank you!

[code]

[2019-06-27 14:55] #419 closed

[2019-07-09 12:45] Sobhi-IOS commented on #347
try this line :)
 DataPicker?.locale = NSLocale(localeIdentifier: "ar") as Locale

[2019-07-13 04:19] laindow commented on #416
That from previous questions - works fine

You need to specify proper "origin" param. Usually it's a button on which user clicked. When self.view is specified popup is shown outside screen.

[2019-08-09 21:53] Rahulgupta-cdnsol opened #420 "Not working in iPad"
Hi,

I have used your library and its works only in iPhone and popover should shown in iPad.Please let me know if there any settings I need to do for iPad.
Using Swift 4.2.

[2019-09-03 10:02] jpmeenaa opened #422 "#picker ui not showing properly on ios 13 ipad"
Title bar of popup and UI not showing properly on iPad in iOS 13.
![Uploading issue ios 13.png…]()

[2019-09-14 06:18] khacdat1994 opened #423 "how to change Font for each label item of rows?"
how to change Font for each label item of rows? Thank.

[2019-09-23 00:14] koust opened #424 "not support dark mode on iOS 13"
Hello everyone ,

I updated all my devices and my applications for iOS 13.
I work only light content mode for my application. "Actionsheetpicker" does not support if my phone is in dark mode

can u help with this?

[2019-09-24 05:44] Praveeeenn commented on #424
@skywinder  Please help, Even for me facing the same issue.

[2019-09-24 22:45] koust commented on #424
@Praveeeenn

you should be use this pod.

`pod 'ActionSheetPicker-3.0', :git => 'https://github.com/arnoldxt/ActionSheetPicker-3.0', :commit => 'ad21f8c8908665ee68623d4fee6c26baaa4cb0dd'`

[2019-09-25 16:39] huynguyencong commented on #424
Thank you. It work for me. I think you can create a pull request to this repo.

[2019-09-29 15:12] blackturtle2 commented on #424
I have developed as below.

[code]

[2019-09-29 15:15] koust commented on #424
@blackturtle2  thanks for another solution

[2019-10-04 17:07] ddaddy commented on #210
I just looked to fix this however it's quite a big job. The AbstractActionSheetPicker class needs to know which ViewController to present the popup onto as the new popup methods work just like presenting any other view controller. So every init method will need changing to accept the viewController too and i'm not sure how much of a change @skywinder wants to have?

[2019-10-06 05:24] tradingstratagem opened #426 "Swift Package Manager"
Any chance to add support to SPM?

[2019-10-08 05:41] grehce commented on #424
Thoughts on where I can add the above in an @objc func?

[2019-10-10 02:56] koust commented on #424
@grehce please, can you check commit? because it is same solution.

[2019-10-14 07:36] KestrelSystems commented on #424
This did not work for me. Since I only use a white theme I could overide by adding a key in Info.plist

[2019-10-14 18:19] adya commented on #422
[Here](https://i.imgur.com/pQDMpYi.png) is a working screenshot of "not showing properly" popup.
Basically, it looks like popup has some offset which is ignored by the top toolbar. And it results in toolbar being cut off a bit.

[2019-10-14 19:27] koust commented on #424
Which did you try them? @KestrelSystems

[2019-10-15 02:19] jpmeenaa commented on #422
I found the solution to this. I don't have knowledge about how to fork on github, I am learning about it and I will update it.

[2019-10-22 11:30] nitinumaretiya123 commented on #424
still not working in iOS 13

[2019-10-22 23:00] koust commented on #424
Can you check pod version? because I'm using as see in the example.
Thanks

[2019-10-23 00:16] skywinder commented on #424
Hey, guys. I’m super busy with other projects. If someone knows how to fix it: please make a PR. I would very appreciate for your help! 🙌
Ps
@huynguyencong did you found a solution?

[2019-10-23 00:22] skywinder commented on #348
Cc @BubiDevs (since you are actively working with this project 👍)

[2019-10-23 00:24] skywinder commented on #424
Looks like #421 should fix this.

[2019-10-23 22:26] kirankumarg99 opened #427 "ActionSheetPicker values are not being displayed on iPhone on iOS 13"
ActionSheetPicker values are not being displayed on iPhone on iOS 13. But on scrolling on the picker and select a value(not visible on the screen), the selected item value is updating in the label .
Could you please help

[2019-10-23 22:34] kirankumarg99 commented on #427
![image](https://user-images.githubusercontent.com/42087869/67439260-615ff180-f613-11e9-94b0-0224b749b9e8.png)

I have attached the image as well

[2019-10-28 07:40] linconz opened #428 "Is here have retain cycle?"
https://github.com/skywinder/ActionSheetPicker-3.0/blob/1ff298dfc253342e2d1279af6c996745857fa509/Pickers/ActionSheetCustomPicker.h#L19

the delgate use `strong` not `weak`

[2019-11-03 04:38] gaozm0509 commented on #427
same problems
iOS 12 dark mode causing the problems

[2019-11-05 13:56] Ankluas commented on #422
@jpmeenaa Hey! I have the same problem, could you provide or explain the solution?

[2019-11-06 16:19] jpmeenaa commented on #422
@Ankluas Please check https://github.com/jpmeenaa/ActionSheetPicker

[2019-11-06 17:16] skywinder commented on #318
https://twitter.com/ios_memes/status/1184426022281908224?s=21

[2019-11-06 17:16] skywinder commented on #318
https://twitter.com/ios_memes/status/1184426022281908224?s=21

[2019-11-06 17:55] coanag opened #430 "ActionSheetStringPicker not showing (Xcode 11.1 Emulator iOS 13)"
ActionSheetStringPicker not showing for project build at Xcode 11.1 iOS 13
Both for Emulator and device.

[2019-11-07 05:24] skywinder commented on #422
@jpmeenaa did you fixed it? I'm out of iOS development now. WOuld you mind make PR and support this library?

[2019-11-07 05:25] skywinder commented on #422
I see you are doing new commits to your fork. We can merge our efforts to not generate new parallel instases.

[2019-11-07 05:48] skywinder commented on #430
Hi, I didn't check it for a long time, since not in iOS development anymore. But I do my best to make this project alive.
Please, let me know, how to fix it.
I'm also would be glad for any help with this project. So if you are wondering about maintaining this project - please, let me know!
Here is a request topic, that I create about this: #348

[2019-11-07 05:49] skywinder commented on #422
I do my best to make this project alive.
Please, let me know, how to fix it.
I'm also would be glad for any help with this project. So if you are wondering about maintaining this project - please, let me know!
Here is a request topic, that I create about this: #348

[2019-11-11 06:05] Ankluas commented on #422
@jpmeenaa Thank you! Could you maybe mention how exactly you fixed the named bug? Your MR contains a lot of changed, I need only the bugfix.

[2019-11-11 07:56] Ankluas commented on #422
Could you please merge the fix regarding this bug with the ActionAheetPicker-3.0 version?

[2019-11-13 01:27] jpmeenaa commented on #348
Would be interested to help.

[2019-11-14 13:04] Afrah-Tayyab opened #432 "Change of Date or Time position Left to right or Right to Left"
I am using Multi Language in my project. I want to change position time i.e (H:MM:SS) LTR in English and also in Arabic have to remain same (H:MM:SS) LTR but it is changing according to language. I can't have access to make it restrict to remain same.

[2019-11-14 13:09] Afrah-Tayyab commented on #396
Can you please send me the code you do in this Function.  datePicker?.setCustomLocale()

[2019-11-14 13:12] Afrah-Tayyab commented on #396
How you get this time in arabic i am not getting this in arabic as I have Change the language in arabic of my app..

[2019-11-22 08:21] vincedev commented on #427
Same problem here, values are in the list, but text color is white, on a white background

[2019-11-22 15:07] vincedev commented on #348
@skywinder , @others
Also interested to help. I have forked the repository, but I admit I don't know where to start.
The repo has 94 active issues, 13 PR waiting, and worse, 46 branches 😳 ..
Is it possible to clean this repo before anything else ?

[2019-11-25 11:32] BubiDevs commented on #348
Hi @skywinder! I'm interested to help on this project, since I'm currently use the repo in a project.

As @vincedev noted, the repo needs some cleanup because there are some stuff that could be closed or removed.

Can we discuss an initial clean-up plan and an evolution process for this repo?

[2019-11-25 11:35] BubiDevs commented on #430
iOS 13 has some breaking changes on UIWindow management.

PP #425 should solve the problem. Could you please try?

[2019-11-26 20:34] skywinder commented on #348
@BubiDevs perfect. I really appreciate your help.  🙏
send me please a message to Telegram (same nickname: skywinder) or email, let's arrange a small call and sync, what and how can we can do this.

[2019-11-26 20:40] skywinder commented on #348
@vincedev please, feel free to attend to our init call. let's arrange it together. I will get an intro, and will help to the cleanup repo and show how it works!
Same thing, send me a message to telegram/email. And let's arrange a call in zoom.

Thank you guys, you rock!

[2019-11-27 16:07] vincedev commented on #152
@minixxie Is this still an issue for you ?

[2019-11-30 06:30] skywinder commented on #396
Hi. I'm not familiar with Arabic.
Can't understand, what happens there and what should we change?

Please descibre exected result in details.

[2019-11-30 07:16] skywinder commented on #347
Feel free to reopen the issue, if you still need help. 👍

[2019-11-30 07:16] #347 closed

[2019-12-01 16:03] BubiDevs commented on #348
Ok many thanks! I will add you on Telegram! 🚀

PS: I'm using this library in [Syncrogest app](https://apps.apple.com/it/app/syncrogest/id462766279), an app that I develop for a customer.

[2019-12-02 05:19] skywinder commented on #348
Perfect. Just added your app to
https://github.com/skywinder/ActionSheetPicker-3.0/wiki/Apps-using-ActionSheetPicker-3.0

[2019-12-02 06:13] skywinder commented on #432
Hi, thanks. Looks like it's related to `UIDatePicker ` itself. you can adjust it as you want.

please look at this: https://stackoverflow.com/questions/47049344/localizing-customizing-the-date-format-of-a-uidatepicker

ALl the pickers has public property `locale`
try to use `picker.locale = Locale(identifier: "ar")` and let me know if it works for you. 👍

[2019-12-02 06:15] skywinder commented on #396
please, have a look on my answer here: https://github.com/skywinder/ActionSheetPicker-3.0/issues/432#issuecomment-560248743

is it the same thing in your case? @spijs

[2019-12-02 06:17] skywinder commented on #396
what's in the method `setCustomLocale`? is it your self defined method?

[2019-12-02 06:39] Afrah-Tayyab commented on #396
yeah thanks i have search and it was helpful for me . thanks a lot .

On Mon, Dec 2, 2019 at 11:17 AM Petr Korolev <notifications@github.com>
wrote:

[2019-12-02 06:40] Afrah-Tayyab commented on #432
yeah its worked. thanks a lot.

On Mon, Dec 2, 2019 at 11:13 AM Petr Korolev <notifications@github.com>
wrote:

[2019-12-02 07:23] skywinder commented on #432
Awesome! glad to hear!
You are Welcome!

@Afrah-Tayyab can we close #396 as well? is it the same issue described there?

[2019-12-02 07:24] #432 closed

[2019-12-02 07:30] skywinder commented on #396
Close it in favor of #432.

[2019-12-02 07:30] #396 closed

[2019-12-03 09:30] skywinder commented on #422
I'm ready to review and merge shortly.
@Ankluas which PR are you referencing to?

[2019-12-03 13:37] Ankluas commented on #422
Hey there,

I am referencing the link given by @jpmeenaa
https://github.com/jpmeenaa/ActionSheetPicker
which should (?) fix the mentioned bug above. It seems like there is no PR for the ActionSheetPicker-3.0 if I didn't oversee it.

[2019-12-08 16:20] #424 closed

[2019-12-09 08:00] skywinder opened #446 "Major update coming (stop supporting ios before 8.0)"

[2019-12-10 04:35] #446 closed

[2019-12-10 07:52] #398 closed

[2019-12-10 17:05] skywinder commented on #422
I belive this bug was fixed by https://github.com/skywinder/ActionSheetPicker-3.0/pull/444

[2019-12-10 17:05] #422 closed

[2019-12-10 17:16] skywinder commented on #428
Thanks, it was fixed in #429 (89ef997)

[2019-12-10 17:16] #428 closed

[2019-12-10 17:17] skywinder commented on #420
Hello. please check the latest version. Should be fixed.
Feel free to reopen the issue, if you still need help. 👍

[2019-12-10 17:17] #420 closed

[2019-12-10 17:19] skywinder commented on #412
You can hack animation in source code. But originally it makes to be exact same way as Apple, action sheet works.
Feel free to reopen the issue, if you still need help. 👍

[2019-12-10 17:19] #412 closed

[2019-12-10 17:20] skywinder commented on #401
Hello. I'm cleanup the code. should work now.
 I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2019-12-10 17:23] skywinder commented on #397
Feel free to reopen the issue, if you still need help. 👍

[2019-12-10 17:23] #397 closed

[2019-12-10 17:26] skywinder commented on #397
@all-contributors please add @xjki  for developers, question, example

[2019-12-10 17:58] xjki commented on #427
You can resolve dark mode issues using pickerTextAttributes property.

Example:

[code]

[2019-12-10 17:59] skywinder commented on #156
Hello. please check the latest version. Should be fixed.
Feel free to reopen the issue, if you still need help. 👍

[2019-12-10 17:59] #156 closed

[2019-12-10 18:00] skywinder commented on #385
close in favor of #401

There is no such feature yet. I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2019-12-10 18:00] #385 closed

[2019-12-10 18:14] xjki commented on #423
See example here: https://github.com/skywinder/ActionSheetPicker-3.0/issues/427#issuecomment-564155407

[2019-12-10 18:23] skywinder commented on #348
Hello! I updated pod, merged as much as I can. Now looks that it works on iOS 13 and all kind of iPads.

Thank you, everyone, for the support!
I also add contributors to the readme that help me a lot. (#451).

[2019-12-10 18:27] skywinder commented on #427
Hello. please check the latest version. Should be fixed.
Feel free to reopen the issue, if you still need help. 👍

[2019-12-10 18:27] #427 closed

[2019-12-10 18:30] skywinder commented on #416
Hello. please check the latest version. Should be fixed.
Feel free to reopen the issue, if you still need help. 👍

[2019-12-10 18:30] #416 closed

[2019-12-10 18:34] skywinder commented on #426
There is no such feature yet. I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2019-12-10 18:35] skywinder commented on #430
Hello. please check the latest version. Should be fixed.
Feel free to reopen the issue, if you still need help. 👍

FIxed by #425

[2019-12-10 18:35] #430 closed

[2019-12-10 18:36] skywinder commented on #411
There is no such feature yet. I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2019-12-10 18:36] #411 closed

[2019-12-10 18:37] skywinder commented on #408
Hello. please check the latest version. Should be fixed.
Feel free to reopen the issue, if you still need help. 👍

[2019-12-10 18:38] skywinder commented on #408
You can create your own picker based on `AbstractActionSheetPicker` or use  `ActionSheetCustomPicker` to implement it.

[2019-12-10 18:39] skywinder commented on #365
You can create your own picker based on `AbstractActionSheetPicker` or use  `ActionSheetCustomPicker` to implement it.

[2019-12-10 18:39] #365 closed

[2019-12-10 18:39] skywinder commented on #377
Feel free to reopen the issue, if you still need help. 👍

[2019-12-10 18:39] #377 closed

[2019-12-10 18:40] skywinder commented on #364
Hello. please check the latest version. Should be fixed.
Feel free to reopen the issue, if you still need help. 👍

[2019-12-10 18:40] #364 closed

[2019-12-10 18:48] #341 closed

[2019-12-11 10:20] umerasif opened #453 "iOS 13 SDK Conditional Compilation"
In the file AbstractActionSheetPicker.m there is a line of code to do conditional compilation

`#if __IPHONE_OS_VERSION_MAX_ALLOWED >= __IPHONE_13_0`

If __IPHONE_13_0 is not defined (which is the case with suppose Xcode 10.3 which does not have iOS SDK 13), then this will be replaced with 0 and the condition will resolve to true which would cause compile time errors when compiled with iOS SDK les

[2019-12-11 11:32] Afrah-Tayyab commented on #384
I am facing the same issue. I have added a date Picker on a button and a time picker on another button. it's working for Iphone all devices and all iOS Versions not working for Ipad real devices.

[2019-12-11 11:35] Afrah-Tayyab commented on #384
yes facing same issue. I also download the code and it was also making issue. please have a look . and @skywinder Thanks in Advance.

[2019-12-11 12:01] Afrah-Tayyab commented on #384
Hey guys this is works for me.  Please use this...

Don’t pass self.view in origin please
pass button or text field.

If user click on button then show picker so please pass button in origin,
If user click on textfield then show picket then pass textfield in origin.

[2019-12-11 12:04] Afrah-Tayyab commented on #384
Pass the textfield in origin not view.

[2019-12-11 17:52] #453 closed

[2019-12-11 17:53] skywinder commented on #453
Thank you! I changed it!

[2019-12-11 17:55] skywinder commented on #453
@umerasif added you here 7b8a2df

[2019-12-11 18:26] skywinder commented on #348
@BubiDevs thanks for constant contributions and helping with answering to the questions. You help me a lot. So I will add to collaborators so that it will grant you access to repo management. Congrats, and much appreciated! 🎉

@vincedev it's clean and up now. So feel free to use it. The up-to-date version in `develop` branch.

[2019-12-11 18:28] #408 closed

[2019-12-11 18:36] skywinder commented on #355
Feel free to reopen the issue, if you still need help. 👍

[2019-12-11 18:36] #355 closed

[2019-12-11 18:40] skywinder commented on #348
Update about your questions:

1. I think we should stop support ios prior to 8.0 with the next major release. it will allow us to make much cleaner code.
2. I want to test it on Swift 4.2 (if someone can help to update/migrate it to modern Swift support - it would be cool. Just wondering, what range of swift versions can (and should) support. Thougts?

[2019-12-11 18:41] #354 closed

[2019-12-11 18:43] skywinder commented on #336
Thanks, I will  check it!

[2019-12-12 06:37] BubiDevs commented on #348
Oh many thanks! Will be a pleasure to help on this repo! 🚀

[2019-12-12 06:39] BubiDevs commented on #348
@skywinder this is my plan to discuss the evolution process of the repo:

- create a dedicated issue on which discuss the proposals
- create a branch (`evolution-proposal`) and add a new .md that we will update with the future plans and all decisions

What do you think?

[2019-12-12 08:41] umerasif commented on #453
Thanks and np :)

[2019-12-12 15:47] skywinder commented on #348
sounds good. Let's give a try!

a 5 cents from me:

- About branch model: As for me - I prefer to do it in `git-flow` way with main development in develop and make a branch for each feature. We can do any kind of dev process - I'm open.

- About communication - I'm also like slack more than other messengers. But in my experience Discord is more popular between open source projects. Proven by many

[2019-12-12 16:42] BubiDevs commented on #348
I'm not so used to `git-flow` but I can learn :P. For the specific case, I mean to create a branch on which put the work-in-progress `PROPOSAL.md` file. Could be `feature/evolution-proposals` the branch name?

Ok, we can use Discord, no problem for me.

I will create the Discord project and the dedicated issue soon :)

[2019-12-12 17:05] BubiDevs commented on #348
Here is the link for Discord: https://discord.gg/jnYVY2

[2019-12-16 08:55] jianjianhao opened #454 "Xcode 11 can not run successfully, ActionSheetPicker-3.0 version (2.4.0) ,use cocoaPods"
<img width="1037" alt="B99156BD-5894-4D5E-8EED-E30899883006" src="https://user-images.githubusercontent.com/12797357/70892718-a6f1d700-2024-11ea-959a-5cbbc28b9303.png">
<img width="871" alt="7ABBFD67-D17C-4D38-BBFC-B359E91260AE" src="https://user-images.githubusercontent.com/12797357/70892748-b1ac6c00-2024-11ea-99e7-ec203d13e94e.png">

[2019-12-21 17:29] skywinder commented on #348
Invite doesn’t work  feel free to to make a PR with permanent link, btw

On Fri, 13 Dec 2019 at 01:05, Andrea <notifications@github.com> wrote:

--
---
Regards,
Petr Korolev

[2019-12-23 02:54] ElfSundae commented on #454
[code]
https://github.com/CocoaPods/CocoaPods/issues/7314#issuecomment-489453484

[2019-12-23 03:07] jianjianhao commented on #454
thank you for your help

[2019-12-23 15:17] BubiDevs commented on #348
My fault, I used a link with an expiration day.

I've made a PR with the right Discord link :)

[2019-12-23 19:52] Afrah-Tayyab opened #457 "i want to set the date format to be "h:mm a" As i am using multi languages. english and arabic"
I want the date format to be always "h:mm a"  as i am using two languages for my project and for english language it is working fine and when i change language to arabic it show in the format like "a mm:h".
Please guide me what to do for this i want that it should  always view time in "h:mm a"  this format rather it is in arabic or english.

[2019-12-23 19:57] Afrah-Tayyab commented on #268
Hi,
I am using ActionSheetDatePicker to display time, Can i change the display format of action sheet date picker i.e h:mm a. as i am using two languages it working fine for english lang but for arabic it works like "a mm:h" i want that for both it should work like "h:mm a"
Thanks,

[2019-12-24 13:17] #454 closed

[2019-12-24 14:54] skywinder commented on #268
Hello. this question is related to `UIDatePicker` (all the properties that it has you can set)
[See this topic for details about date format.](https://stackoverflow.com/questions/43586775/ios-how-to-change-date-picker-display-format)

If it doesn't work: You can create your own picker based on `AbstractActionSheetPicker` or use  `ActionSheetCustomPicker` to implement it.

Feel free to reopen it, i

[2019-12-24 14:54] #268 closed

[2019-12-24 14:59] skywinder commented on #390
Hello. Looks like question is related to `UIDatePicker`, that is a subview of `ActionSheetDatePicker`. Nevertheless, you can set all the properties  via `ActionSheetDatePicker` as a proxy.
Please check the references of [UIDatePicker](https://developer.apple.com/documentation/uikit/uidatepicker)

[2019-12-24 15:00] skywinder commented on #390
Feel free to reopen the issue, if you still need help. 👍

[2019-12-24 15:00] #390 closed

[2019-12-24 15:02] skywinder commented on #383
There is no such feature yet. I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2019-12-24 15:02] #383 closed

[2019-12-24 15:03] skywinder commented on #457
Duplicate of #383

[2019-12-24 15:03] #457 closed

[2019-12-24 15:05] skywinder commented on #457
@Afrah-Tayyab please, check the answer there, thanks, that updated that question.
 I hope my answer  will  help you to solve this

[2019-12-24 15:06] skywinder commented on #423
Feel free to reopen the issue, if you still need help. 👍

[2019-12-24 15:06] #423 closed

[2019-12-24 15:07] skywinder commented on #152
Looks like it solved long time ago.
Feel free to reopen the issue if you still need help. 👍

[2019-12-24 15:07] #152 closed

[2019-12-24 15:08] skywinder commented on #219
Feel free to reopen the issue, if you still need help. 👍

[2019-12-24 15:08] #219 closed

[2019-12-24 15:09] skywinder commented on #216
Hello. Looks like question is related to `UIDatePicker`, that is a subview of `ActionSheetDatePicker`. Nevertheless, you can set all the properties via `ActionSheetDatePicker` as a proxy.
Please check the references of [UIDatePicker](https://developer.apple.com/documentation/uikit/uidatepicker)

[2019-12-24 15:09] skywinder commented on #216
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-12-24 15:09] #216 closed

[2019-12-24 15:11] skywinder commented on #210
Looks like it solved long time ago.
Feel free to reopen the issue if you still need help. 👍

[2019-12-24 15:11] #210 closed

[2019-12-24 15:11] skywinder commented on #162
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-12-24 15:11] #162 closed

[2019-12-24 15:13] skywinder commented on #222
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-12-24 15:13] #222 closed

[2019-12-24 15:14] skywinder commented on #236
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-12-24 15:14] #236 closed

[2019-12-24 15:15] skywinder commented on #240
You can create your own picker based on `AbstractActionSheetPicker` or use  `ActionSheetCustomPicker` to implement it.
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-12-24 15:15] #240 closed

[2019-12-24 15:15] skywinder commented on #243
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-12-24 15:15] #243 closed

[2019-12-24 15:16] skywinder commented on #247
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-12-24 15:16] #247 closed

[2019-12-24 15:20] skywinder commented on #249
sorry, I can't understand your topic, it's hard to reproduce. You can also try to ask quesiton on SO https://stackoverflow.com/questions/tagged/actionsheetpicker

[2019-12-24 15:20] #249 closed

[2019-12-24 15:21] skywinder commented on #253
Thanks. I hope Apply fixed it already! :)

[2019-12-24 15:21] #253 closed

[2019-12-24 15:22] skywinder commented on #255
Looks like it solved long time ago.
Feel free to reopen the issue if you still need help. 👍

[2019-12-24 15:22] #255 closed

[2019-12-24 15:23] skywinder commented on #256
Looks like it solved a long time ago.
Feel free to reopen the issue if you still need help. 👍

[2019-12-24 15:23] #256 closed

[2019-12-24 15:26] skywinder commented on #259
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-12-24 15:26] #259 closed

[2019-12-24 15:26] skywinder commented on #258
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-12-24 15:26] #258 closed

[2019-12-24 15:50] skywinder commented on #330
Looks like it solved a long time ago.
Feel free to reopen the issue if you still need help. 👍

[2019-12-24 15:50] #330 closed

[2019-12-27 07:44] keshu1024 commented on #169
This works for me:

    @IBAction func dobBtnPressed(_ sender : UIButton) {
        let datePicker = ActionSheetDatePicker(title: "Date:", datePickerMode: UIDatePicker.Mode.date, selectedDate: Date(), doneBlock: {
            picker, value, index in

            print("value = \(String(describing: value))")
            print("index = \(String(describing: index))")
            print("picker = \(Str

[2019-12-28 10:57] weekly-digest[bot] opened #459 "Weekly Digest (21 December, 2019 - 28 December, 2019)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 4 issues have been closed and 0 issues are still open.
## CLOSED ISSUES
:heart: #458 [Update source patterns](https://github.com/skywinder/ActionSheetPicker-3.0/pull/458), by [ElfSundae](https://github.com/ElfSundae)
:

[2019-12-30 15:51] skywinder commented on #241
@ReckWang so Here is an answer: same way as I implement it in "Country Picker" (see the demo and source code. It also based on `CustomActionSheetPicker`

[2019-12-30 15:52] #359 closed

[2019-12-30 15:52] #294 closed

[2019-12-30 15:52] #276 closed

[2019-12-30 15:52] #273 closed

[2019-12-30 15:52] #237 closed

[2019-12-31 00:06] abdelmagied94 commented on #348
@skywinder I would be glad to help

[2020-01-01 03:34] skywinder commented on #348
@abdelmagied94 thank you, glad to hear. I would be very helpful with the 2 following things:

- [ ]  if you can go through issues and pull requests and review some of them and check issues. _I closed 70% of them already but still need help._

- [ ] test and Update readme with Carthage and Swift package manager options (I'm old school guy, who used Cocoapods, so didn't try new things yet)

[2020-01-01 17:34] StefaniOSApps opened #460 "[BUG] - HIGH - Not working on screen rotation + Not working in Landscape"
Unfortunately I had to find out that the layout is destroyed when rotating under iOS 13. I have already checked it under 2.4.1 (from 2017) and also checked with develop branch with #379 . This error also exists with this version or with the develop branch.

I created a demo git so that you can easily reproduce it.
https://github.com/StefaniOSApps/ActionSheet-Example

The error is shown in this vid

[2020-01-01 17:35] StefaniOSApps commented on #460
@skywinder

[2020-01-03 21:03] skywinder commented on #460
@StefaniOSApps Oh, got it. thanks for the mention and detailed description!

Rotations screen was always quite painfull for dynamic views.
I thing the best way to quick fix now - is just hide picker when the screen is rotating. Thougs?

[2020-01-03 21:07] StefaniOSApps commented on #460
This will not fix the problem. If you open the sheet in the landscape, it will already be extended incorrectly. This is shown in the GIF. @skywinder
<img width="719" alt="GIF SCREEN" src="https://user-images.githubusercontent.com/29314643/71749291-4d3b3a80-2e75-11ea-9303-10b70e8e41f8.png">

[2020-01-03 21:09] StefaniOSApps commented on #460
It will most likely be a method that is deprecated as of iOS 13.

[2020-01-05 08:28] weekly-digest[bot] opened #461 "Weekly Digest (29 December, 2019 - 5 January, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #460 [[BUG] - HIGH - Not working on screen rotation + Not working in Landscape](https://github.com/skywinder/ActionSheetPicker-3.0/issues/460), by [StefaniOSApps](https://github.com/S

[2020-01-08 08:03] skywinder commented on #460
Can't realize, hot ti fix it in the right way. Looking forward to any suggestions.

[2020-01-08 08:05] skywinder commented on #356
There is example in this code.

[2020-01-08 08:05] #356 closed

[2020-01-08 08:12] skywinder commented on #356
https://github.com/skywinder/ActionSheetPicker-3.0/blob/c1c9888d2d1bfe918245f350ca60f57bd50a040f/Example%20Projects/ObjC-Example/Example/Classes/ActionSheetPickerTableViewController.m#L200

here it is

[2020-01-08 08:13] #331 closed

[2020-01-08 08:14] skywinder commented on #329
There is no such feature

[2020-01-08 08:14] #329 closed

[2020-01-08 21:42] StefaniOSApps commented on #460
Hey, we need support. Any ideas? @xjki @BubiDevs @TimCinel, @kashifhisam or @delackner?

[2020-01-09 22:24] skywinder commented on #348
Please, have a look on #460

cc @abdelmagied94

[2020-01-12 08:28] weekly-digest[bot] opened #463 "Weekly Digest (5 January, 2020 - 12 January, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #462 [Contributing](https://github.com/skywinder/ActionSheetPicker-3.0/pull/462), by [speedy19830509](https://github.com/speedy19830509)
## NOISY ISSUE
:speaker: #462 [Contributing](https

[2020-01-19 08:28] weekly-digest[bot] opened #464 "Weekly Digest (12 January, 2020 - 19 January, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-01-26 08:28] weekly-digest[bot] opened #465 "Weekly Digest (19 January, 2020 - 26 January, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-01-27 18:37] StefaniOSApps commented on #348
@BubiDevs Please, have a look on #460

[2020-01-30 16:01] Jack-s commented on #460
If it helps it looks like this is only an issue from the 2.4 release (2.3.1 seems to be fine). It also is an issue on iOS 12 as well so I don't think it's a iOS 13 specific issue.

[2020-02-01 18:33] StefaniOSApps commented on #460
yes, it is most likely a bug generated by an iOS update.

[2020-02-02 08:28] weekly-digest[bot] opened #466 "Weekly Digest (26 January, 2020 - 2 February, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-02-08 06:36] #465 closed

[2020-02-08 06:37] #459 closed

[2020-02-08 06:37] #461 closed

[2020-02-08 06:37] #463 closed

[2020-02-08 06:37] #464 closed

[2020-02-08 06:37] #466 closed

[2020-02-08 10:46] skywinder commented on #460
@Jack-s confirmed, in 2.3.1 it works. (it's simply dismisse picker)

@StefaniOSApps all that I can do now: to make an action, to dismiss the picker upon rotation. In most cases, it wouldn't be a problem. And I will preserve boolean trigger to switch off that behavior (with the warning, that developer do this at his own risk and it's not tested).

Thoughts?

[2020-02-08 11:09] StefaniOSApps commented on #460
I don't think you have yet understood that the picker no longer works in the landscape. This is the main problem. You can also dismiss a picker by using your own methods.
![ezgif-6-ac2350cea71e](https://user-images.githubusercontent.com/29314643/74084098-aba69a80-4a6b-11ea-97a4-4bfa9f14a068.gif)

see demo project https://github.com/StefaniOSApps/ActionSheet-Example

[2020-02-08 11:12] StefaniOSApps commented on #460
btw ... the video above was made with 2.3.1 @Jack-s @skywinder
[code]

[2020-02-09 00:28] weekly-digest[bot] opened #467 "Weekly Digest (2 February, 2020 - 9 February, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-02-12 04:55] #467 closed

[2020-02-12 07:08] skywinder commented on #460
oh, crap. @StefaniOSApps I'm digging into it.

Nope, I tried to run on 2.3.1 - it works fine on ios 11 and ios 13. SO will go deep into diff now.

ps. your project doesn't specify version:
look at podfile: `  pod 'ActionSheetPicker-3.0'`

so you still use the latest one.

p.s. hope your Energy Tracker  doesn't affect too much. will do my best right now.

[2020-02-12 08:19] skywinder commented on #460
Gotcha. @moheny  changes brokes rotation logic. now it works. But I have to dismiss picker on iPhones during rotation. (for iPad it works as it was before)

[2020-02-12 08:19] #460 closed

[2020-02-12 09:06] skywinder commented on #460
Fixed in `2.4.2` 🎉

[2020-02-12 09:08] skywinder commented on #401
Updated to Swift 5 already 🎉

[2020-02-12 09:08] #401 closed

[2020-02-12 09:09] skywinder commented on #363
Updated to Swift 5 already 🎉

[2020-02-12 09:09] #363 closed

[2020-02-12 09:09] skywinder commented on #318
Updated to Swift 5 already 🎉

[2020-02-12 09:09] #318 closed

[2020-02-12 09:25] skywinder commented on #318
Migrating from Swift 2 to Swift 3 was like
![image](https://user-images.githubusercontent.com/3356474/74320517-580db700-4db3-11ea-931d-f0e0a8b00715.png)

[2020-02-12 09:27] skywinder commented on #460
rotation fixes in ACP looks like.. 😂
![image](https://user-images.githubusercontent.com/3356474/74321157-69a38e80-4db4-11ea-87d7-b5bf20cedad7.png)

[2020-02-12 11:17] StefaniOSApps commented on #460
@skywinder the commit (change podfile) was not pushed. I have now pushed the changes ([commit](https://github.com/StefaniOSApps/ActionSheet-Example/commit/48ce5538a86fae4ca9e96435932c85cc57f2274e)) I have now extensively tested it and it fixes the problem on 13.0. However, the Dismiss rotation is broken. We currently differentiate between iPad true and false. In the case of iPad == false, one coul

[2020-02-13 19:58] herrchmafi opened #470 "ActionSheetStringPicker Popover Toolbar Cutoff for iOS 13 on iPads"
The UIToolbar (in AbstractActionSheetPicker) gets cut off at the top for iOS 13 on iPads. Looking at the view hierarchy, it looks like the parent view placement isn't inset properly (should be positioned under caret).

@skywinder
Thank you for your work!

[2020-02-15 20:10] skywinder commented on #460
Just dun your example. looks good.

What you mean, "Dismiss rotation is broken"? How does it look like? On iphone? Which position? Can you provide any steps to reproduce?

[2020-02-15 21:56] skywinder commented on #426
I start to migrate in `SPM ` branch, but have no luck
the test project attached to this pranch.

[2020-02-15 21:57] skywinder commented on #426
error:
`Umbrella directory '/XXX/ActionSheetPicker-3.0/CoreActionSheetPicker/include' not found`

Don't know how to fix it.

[2020-02-15 22:38] StefaniOSApps commented on #460
use demo project from top. @skywinder
![Ohne-Titel-2](https://user-images.githubusercontent.com/29314643/74596188-12b7e680-504c-11ea-90ab-068fae778fac.gif)

[2020-02-16 00:28] weekly-digest[bot] opened #471 "Weekly Digest (9 February, 2020 - 16 February, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 2 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #470 [ActionSheetStringPicker Popover Toolbar Cutoff for iOS 13 on iPads](https://github.com/skywinder/ActionSheetPicker-3.0/issues/47

[2020-02-16 07:34] #471 closed

[2020-02-16 07:37] skywinder commented on #460
oh, got it. in slow motion, I can see this.
I will leave it as is for a while.

so, please let me know, if you know, how to solve this.

[2020-02-17 14:22] pushian opened #472 "iOS build error while using carthage update"
* `carthage version`: 0.34.0
* `xcodebuild -version`: Version 11.3.1 (11C504)

**Command**
[code]

**Cartfile**
[code]

**Carthage Output**
[code]

[2020-02-23 00:28] weekly-digest[bot] opened #474 "Weekly Digest (16 February, 2020 - 23 February, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #473 [Added Dark Mode colors for default values](https://github.com/skywinder/ActionSheetPicker-3.0/pull/473), by [ezathashim](https:/

[2020-03-01 00:28] weekly-digest[bot] opened #475 "Weekly Digest (23 February, 2020 - 1 March, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-03-04 13:10] Kavisha-Dev commented on #241
Hello @skywinder
Thank you for such a nice library.

I am trying to create a Picker using ActionSheetCustomPicker since I want to handle the 'didSelectRow'  method of the picker delegate so that I can change the 2nd-row value based on the first row and vice versa.

I referred you're '**selectAMusicalScale**' method in  'ActionSheetPickerCustomPickerDelegate'  from ActionSheetPickerViewController

[2020-03-11 05:34] skywinder commented on #241
Hello, @Kavisha-Dev . thank for detaile exmpalantion.

I checked your example.

after a while, with debugging I found that delegate does not set properly.

so `_delegate` here is `nil`
`- (void)notifyTarget:(id)target didSucceedWithAction:(SEL)successAction origin:(id)origin
`
<img width="745" alt="Screenshot 2020-03-11 at 13 31 19" src="https://user-images.githubusercontent.com/3356474/76385445-9

[2020-03-11 05:44] #475 closed

[2020-03-13 13:55] ddaddy commented on #472
I'm getting this same error with the latest release.

[2020-03-14 15:05] Kavisha-Dev commented on #241
Thank you @skywinder for providing direction. I will look into this and see what I find. Thanks again.

[2020-03-17 08:30] Kavisha-Dev commented on #241
Hello @skywinder ,

The delegate was indeed nil at notifyTarget.

1. So I created a delegate variable called `@property(nonatomic, strong) id<UIPickerViewDelegate, UIPickerViewDataSource> customDelegate;` in AbstractActionSheetPicker.h

<img width="686" alt="Screenshot 2020-03-17 at 1 29 31 PM" src="https://user-images.githubusercontent.com/8425297/76836143-4f971900-6856-11ea-9f45-e2f57b373421.png

[2020-03-18 14:06] skywinder commented on #241
Amazing. Thank you. I need to check, why its nil ed.. maybe some weak references problem. Will dig into it. Thanks for the help!

Ps
Would you mind to make a PR in order to honor you contribution?

[2020-03-19 21:20] Klavar opened #476 "Action sheet reappears after pressing Done"
After I press done on the action picker it seems to reappear I have to then press cancel or click outside to get it to disapear

[2020-03-20 00:40] skywinder commented on #476
Please provide code example of this behavior

[2020-03-20 12:02] Kavisha-Dev commented on #241
You're most welcome!

By the way, when you told about weak references,

1. I actually went back to `ActionSheetCustomPicker.h` and checked this property:`@property(nonatomic, weak) id <ActionSheetCustomPickerDelegate> delegate;`
2. Changed it from weak to strong -`@property(nonatomic, strong) id <ActionSheetCustomPickerDelegate> delegate;` AND, it checked. When I ran my project with this change, t

[2020-03-20 14:01] Klavar commented on #476
So looking into this more, it seems to happen when I call action sheet from a uitextfeild, and if I then resign first responder or end editing

[2020-03-25 02:15] deepwinter commented on #472
I betcha the shared scheme is not added to version control

[2020-03-25 02:19] deepwinter commented on #472
2.4.9 builds, 2.4.11 does not

[2020-03-27 04:49] Kavisha-Dev commented on #241
Hi there! Did you get a chance to have a look at it? Thanks.

[2020-04-09 10:21] pkccsb commented on #470
Any update on this ticket?

[2020-04-09 11:03] skywinder commented on #470
no, didn't check it

[2020-04-14 02:41] chunykuo commented on #472
maybe you can try

`github "skywinder/ActionSheetPicker-3.0" "master"`

its work for me, but suggest use for temporary.

[2020-04-14 15:42] skywinder commented on #472
Any thoughts how to fix it?

On Tue, 14 Apr 2020 at 09:41, David Kuo <notifications@github.com> wrote:

--
Regards,
Petr Korolev

[2020-04-15 19:17] skywinder commented on #470
If anyone knows how to reproduce and fix it - please, let me know

[2020-04-19 10:17] weekly-digest[bot] opened #477 "Weekly Digest (12 April, 2020 - 19 April, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-04-26 10:17] weekly-digest[bot] opened #478 "Weekly Digest (19 April, 2020 - 26 April, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-04-28 15:36] #336 closed

[2020-04-29 01:00] skywinder commented on #336
@vixez yes, it's time to close, thanks :)

[2020-04-29 01:29] skywinder commented on #336
fixed in latest commit

[2020-04-29 06:49] #474 closed

[2020-04-29 06:49] #477 closed

[2020-04-29 06:49] #478 closed

[2020-05-03 10:17] weekly-digest[bot] opened #480 "Weekly Digest (26 April, 2020 - 3 May, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #479 [Added Xcode 11.x compatibility & DarkMode support](https://github.com/skywinder/ActionSheetPicker-3.0/pull/479), by [noorulain17](https://github.com/noorulain17)
## NOISY ISSUE
:spe

[2020-05-04 04:02] #480 closed

[2020-05-06 00:43] noorulain17 commented on #384
I faced the same issue as reported by @pritamsalunkhe4 above in `ActionSheetPicker-3.0 (2.3.0)`, though `ActionSheetPicker-3.0 (2.5.0)` has fixed this.

[2020-05-06 08:16] #384 closed

[2020-05-10 10:17] weekly-digest[bot] opened #481 "Weekly Digest (3 May, 2020 - 10 May, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-05-12 13:04] vinaypiplani commented on #476
ActionSheetStringPicker.show(withTitle: "", rows: state.compactMap({ $0.state }), initialSelection: currentSelectedStateIndex, doneBlock: { [unowned self] _, index, value in

              return
            }, cancel: { _ in return }, origin: UITextField())

if you click on done then return is not working, i have install "Installing ActionSheetPicker-3.0 (2.5.0)" latest pod. i have remove the ret

[2020-05-14 03:59] #481 closed

[2020-05-28 14:20] maulikshah09 opened #483 "crash on Action sheet"
1. add pod  pod 'ActionSheetPicker-3.0'

2. goto terminal and pod install from terminal

3. import ActionSheetPicker_3_0

4.  copy paste code.

[code]

and crash   what is the issue.Don't know.

'NSInvalidArgumentException', reason: '*** -[NSPlaceholderString initWithString:]: nil argument'

[code]

[2020-05-28 15:48] maulikshah09 commented on #483
Got it...Localization issue.. If not localize then crash this third party.

[2020-05-29 18:14] skywinder commented on #483
Hi. as I can see it caused by outside changes.
I belive you have to set not nil argument as it says: `'NSInvalidArgumentException', reason: '*** -[NSPlaceholderString initWithString:]: nil argument'`

[2020-05-29 18:14] #483 closed

[2020-06-04 11:20] ddaddy commented on #472
It seems this is fixed in `v2.5.0`

Thanks

[2020-06-10 16:45] Klavar opened #484 "Issue after update UIDatePickerMacCompactView _setTextColor crash"
I recently updated the pod in swift, before the update the action picker time picker worked no issues, no when I try to set a time I get this error.. NSInvalidArgumentException', reason: '-[_UIDatePickerMacCompactView _setTextColor:]: unrecognized selector sent to instance

I don't have any issues with it on iOS but only on Mac Catalyst

I have also tried the demo program and it works fine on iOS

[2020-06-13 20:43] Harshad290194 opened #485 "year or month in date picker"
How can we show only year or only month or month and year in date picker?

[2020-06-15 10:16] noorulain17 commented on #348
@skywinder I would be glad to help 🎉

[2020-07-05 01:58] weekly-digest[bot] opened #486 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-07-06 22:24] logeshvijayan opened #487 "Pickerview elements appear white"
While I am using my label colour as white.I couldn't able to override it .I am using swift and tried the below code to fix the issue but it never worked

![image](https://user-images.githubusercontent.com/42087869/67439260-615ff180-f613-11e9-94b0-0224b749b9e8.png)

I have attached the image as well

_Originally posted by @kirankumarg99 in https://github.com/skywinder/ActionSheetPicker-3.0/issues/4

[2020-07-06 22:24] logeshvijayan commented on #487
let rowTextAttributes: NSMutableDictionary = [NSAttributedString.Key.font: UIFont.systemFont(ofSize: 16), NSAttributedString.Key.foregroundColor: UIColor.black]
        for (key, value) in rowTextAttributes {
            vehiclePicker?.pickerTextAttributes[key] = value
        }

[2020-07-06 22:41] logeshvijayan commented on #487
I Just need to set the colour of the labels to black.I tried setTextcolour function too but it never worked

[2020-07-07 16:34] logeshvijayan commented on #424
@koust How did you override the value in plist.I also have a light background for Picker view but I couldn't able to fix it using picker text attributes

[2020-07-07 20:52] koust commented on #424
@logeshvijayan I use pod version directly and its working. Do u own the last version?

[2020-07-08 03:25] logeshvijayan commented on #424
@koust  So this is my case.My Application has a dark background by default and the overall  label colour was set to white.My picker view has a white background and my label colour needs to set in Black.So I need to override the white colour when the picker view is called.(I use latest swift)

I tried to update my pods to the latest version and set picker attributes but nothing worked.What do you m

[2020-07-12 01:58] weekly-digest[bot] opened #489 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #488 [Added iOS 14 DatePickerStyle Support](https://github.com/skywinder/ActionSheetPicker-3.0/pull/488), by [noorulain17](https://git

[2020-07-16 09:51] Algalish commented on #470
@skywinder  As far as I know - popovers are deprecated in iOS 9 and later.
Your library is not working anymore on iPad for me so I went to AbstractActionSheetPicker.m file and changed the return for function "canShowPopover" to "NO" like that
`+ (BOOL)canShowPopover {
return NO;
  }`

Since nobody uses iOS 9 or earlyer versions - I think it is safe to do it like this without conditions for the iOS

[2020-07-16 13:30] #489 closed

[2020-07-19 01:58] weekly-digest[bot] opened #490 "Weekly Digest (12 July, 2020 - 19 July, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-07-21 08:47] butterflyXX opened #491 "How to click on the Background,dismiss the picker"

[2020-07-24 21:59] MikeZTM opened #492 "Date picker on iOS 14"
iOS 14 changed the style of UIDatePicker and need extra preferredDatePickerStyle to be set to have wheel style like before.

Right now it default to automatic which looks like a button with a popup date picker on click.

[2020-07-26 01:58] weekly-digest[bot] opened #493 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #492 [Date picker on iOS 14](https://github.com/skywinder/ActionSheetPicker-3.0/issues/492), by [MikeZTM](https://github.com/MikeZTM)

[2020-08-02 11:48] weekly-digest[bot] opened #494 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-08-02 22:21] hechukwu commented on #326
picker?.titleTextAttributes = [NSForegroundColorAttributeName : UIColor.white] doesn't seem to change the title color

[2020-08-09 11:48] weekly-digest[bot] opened #495 "Weekly Digest (2 August, 2020 - 9 August, 2020)"
Here's the **Weekly Digest** for [*skywinder/ActionSheetPicker-3.0*](https://github.com/skywinder/ActionSheetPicker-3.0):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last wee

[2020-08-25 06:16] bb-git commented on #492
Any update on this issue? Might get urgent with the release of iOS 14.

[2020-08-25 06:37] bb-git commented on #492
In `ActionSheetDatePicker.m` inside `- (UIView *)configuredPickerView`

add
`    if (@available(iOS 14, *)) {
        [datePicker setPreferredDatePickerStyle:UIDatePickerStyleWheels];
    }`

[2020-08-25 06:45] skywinder commented on #492
@bb-git Thank you. Would you mind to make a pull request?

[2020-08-26 09:13] hechukwu commented on #487
Try this? `let picker = ActionSheetStringPicker.show(withTitle: title, rows: categoryNames as [Any], initialSelection: initialIndex, doneBlock: { picker, index, value in
                self.pickerIsActive = false
                }
                return
            }, cancel: { actionMultipleStringCancelBlock in
                self.pickerIsActive = false
                return
            }, ori

[2020-08-26 12:53] KennyBrunton opened #496 "Date picker no longer showing wheels"
Updating my project in xcode 12, for some reason the date picker doesn't have wheels. Wondering if anyone else has reported this?

[2020-08-26 12:57] #496 closed

[2020-08-26 12:57] KennyBrunton commented on #496
Just realised this is a duplicate

[2020-08-28 16:00] skywinder commented on #496
@KennyBrunton Did you found solution? Can you reference to duplicate?

[2020-08-28 16:02] #494 closed

[2020-08-28 16:02] #490 closed

[2020-08-28 16:04] skywinder commented on #476
There is no recent activity for this issue. This issue has been closed as stale.
Feel free to leave a comment below, if it's still actual.

[2020-08-28 16:04] #476 closed

[2020-08-28 16:04] skywinder commented on #410
There is no such feature yet. I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2020-08-28 16:04] #410 closed

[2020-08-28 16:05] skywinder commented on #361
It seems that this issue has already been resolved. Feel free to reopen it, if it still actual. 👍

[2020-08-28 16:05] #361 closed

[2020-08-28 16:06] skywinder commented on #351
There is no recent activity for this issue. This issue has been closed as stale.
Feel free to leave a comment below, if it's still actual.

[2020-08-28 16:08] skywinder commented on #348
@noorulain17 hooray! Are you using the library now? I would be glad. Can you please review open pull requests so that we can update the library for ios 14.0.

[2020-08-28 16:10] skywinder commented on #460
@StefaniOSApps Does it persist in latest versions?

[2020-08-28 16:11] skywinder commented on #337
There is no such feature yet. I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2020-08-28 16:11] #337 closed

[2020-08-28 16:11] noorulain17 commented on #348
@skywinder yeah I'm using this library in two of my apps that are live on AppStore.

Sure, I'll review the other open PRs, though I've opened the iOS 14.0 one.

[2020-08-28 16:50] KennyBrunton commented on #496
Hello,  Actually it relates to #492
I've used the solution provided by bb-git temporarily, I presume it'll be committed at some point.

Thanks for getting in touch though.  Kenny

[2020-08-29 11:16] #486 closed

[2020-08-29 11:16] #493 closed

[2020-08-29 11:16] #495 closed

[2020-08-29 11:18] skywinder commented on #362
Feel free to reopen the issue, if you still need help. 👍

[2020-08-30 10:36] KunzManuel commented on #492
@bb-git You can now set the `datePickerStyle` in the `ActionSheetDatePicker.h`.

[2020-08-30 10:40] #492 closed

[2020-09-02 05:37] jolyot opened #498 "ActionSheetDatePicker still crash in Xcode12 when set the datePickerStyle"
Updating my project in Xcode12, and using `pod v2.5.1`.
https://github.com/skywinder/ActionSheetPicker-3.0/issues/492 is supposed to be resolved in this [PR](https://github.com/skywinder/ActionSheetPicker-3.0/pull/488), but `ActionSheetDatePicker` still crash.

## What did you do?
When set the `datePcikerStyle` in the same way as [this example](https://github.com/noorulain17/ActionSheetPicker-3.0/

[2020-09-03 14:53] noorulain17 commented on #498
I had tested this on Xcode 12.0 beta 1,
will check again on Xcode 12.0 beta 5 & update you.

[2020-09-03 16:34] noorulain17 commented on #498
@jolyot I updated  `ActionSheetPicker-3.0` to version **2.5.1** in my a new sample project.
Tried on both Xcode 12.0 beta 1 & Xcode 12.0 beta 5 on simulators of iOS 13.4 & 14.0 & the sample code that you've mentioned above is working fine.

<img width="526" alt="Xcode12beta1" src="https://user-images.githubusercontent.com/6180345/92142294-a7d1cf80-ee24-11ea-942a-175666d8cb3a.png">
<img width="886"

[2020-09-04 04:44] jolyot commented on #498
@noorulain17

OK! I will try!

[2020-09-06 11:41] noorulain17 commented on #353
Agreed with @jum, use tag value.

[2020-09-06 11:41] #353 closed

[2020-09-10 15:12] noorulain17 commented on #498
Hey @jolyot ,
Any update on the issue?

[2020-09-18 10:32] jolyot commented on #498
@noorulain17
Sorry for the late reply.
I tried with Xcode12GM seed. It does not crash!
But layout is a little bit broken in iOS14 simulator.

datePickerStyle is automatic | datePickerStyle is wheels
------------ | -------------
<img width="443" alt="スクリーンショット 2020-09-18 19 18 57" src="https://user-images.githubusercontent.com/8514870/93586865-f1edb000-f9e3-11ea-8868-49fed6cfe7da.png"> | <img width

[2020-09-18 10:35] noorulain17 commented on #498
Thanks @jolyot for the update.
Yes I've also noticed the broken layout in the latest Xcode version. I've started  working on it and will soon release another stable version.

[2020-09-18 15:35] jolyot commented on #498
@noorulain17

OK! I hope it will release soon!

[2020-09-18 15:35] #498 closed

[2020-09-19 10:14] tzdesign opened #500 "iOS14 datepicker style looks pretty bad!"
Hi there,

could you please force the wheelstyle for ios14 sdk.

Just add this after line 161 in **Pickers/ActionSheetDatePicker.m**

[code]
I'm using your picker all over my app and had to unlock the package to change it myself for now.
Your style of presenting the datepicker will never need another style then the wheel.

Best regards

Tobi

[2020-09-19 15:03] skywinder commented on #500
Hey-hey. @noorulain17 , @KunzManuel  can you kindly check how it's works on new ios?

[2020-09-19 15:29] noorulain17 commented on #500
Sure will do.

[2020-09-20 20:01] tzdesign commented on #500
I already checked it. With this lines the app looks like it used to. If you like I can also contribute in the future? I'm using your action sheets pretty long now.

[2020-09-21 02:58] skywinder commented on #500
<img width="504" alt="image" src="https://user-images.githubusercontent.com/3356474/93729976-d277a280-fbf0-11ea-80ee-5d078099eaac.png">
<img width="882" alt="image" src="https://user-images.githubusercontent.com/3356474/93729981-d99eb080-fbf0-11ea-9d0b-688dc9c3f741.png">
<img width="882" alt="image" src="https://user-images.githubusercontent.com/3356474/93729986-ddcace00-fbf0-11ea-9939-a1e08285bcb

[2020-09-21 02:59] skywinder commented on #485
There is no such feature yet. I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

You can create your own picker based on `AbstractActionSheetPicker` or use  `ActionSheetCustomPicker` to implement it.

[2020-09-21 02:59] #485 closed

[2020-09-21 03:01] skywinder commented on #491
Please, provide more details in description, so we can reopen this issue

[2020-09-21 03:01] #491 closed

[2020-09-21 03:02] #362 closed

[2020-09-21 03:04] skywinder commented on #358
already fixed, thanks for investigation, @adamhongmy  👍

[2020-09-21 03:04] #358 closed

[2020-09-21 03:05] skywinder commented on #300
There is no recent activity for this issue. This issue has been closed as stale.
Feel free to leave a comment below, if it's still actual.

[2020-09-21 03:05] #300 closed

[2020-09-21 03:05] skywinder commented on #296
fixed

[2020-09-21 03:05] #296 closed

[2020-09-21 03:06] skywinder commented on #292
You can create your own picker based on `AbstractActionSheetPicker` or use  `ActionSheetCustomPicker` to implement it.

[2020-09-21 03:06] #292 closed

[2020-09-21 03:06] skywinder commented on #290
You can create your own picker based on `AbstractActionSheetPicker` or use  `ActionSheetCustomPicker` to implement it.

[2020-09-21 03:06] #290 closed

[2020-09-21 03:07] skywinder commented on #283
There is no recent activity for this issue. This issue has been closed as stale.
Feel free to leave a comment below, if it's still actual.

[2020-09-21 03:07] #283 closed

[2020-09-21 03:07] skywinder commented on #275
It seems that this issue has already been resolved. Feel free to reopen it, if it still actual. 👍

[2020-09-21 03:07] #275 closed

[2020-09-21 03:08] skywinder commented on #270
It seems that this issue has already been resolved. Feel free to reopen it, if it still actual. 👍

[2020-09-21 03:08] #270 closed

[2020-09-21 03:09] skywinder commented on #307
It seems that this issue has already been resolved. Feel free to reopen it, if it still actual. 👍

[2020-09-21 03:09] #307 closed

[2020-09-21 03:09] skywinder commented on #269
It seems that this issue has already been resolved. Feel free to reopen it, if it still actual. 👍

[2020-09-21 03:09] #269 closed

[2020-09-21 03:09] skywinder commented on #310
It seems that this issue has already been resolved. Feel free to reopen it, if it still actual. 👍

[2020-09-21 03:09] #310 closed

[2020-09-21 03:11] skywinder commented on #241
It seems that this issue has already been resolved. Feel free to reopen it, if it still actual. 👍

[2020-09-21 03:11] #241 closed

[2020-09-21 03:12] skywinder commented on #250
It seems that this issue has already been resolved. Feel free to reopen it, if it still actual. 👍

[2020-09-21 03:12] #250 closed

[2020-09-21 03:13] skywinder commented on #315
Please look at update example project in the repo. 👍

[2020-09-21 03:13] #315 closed

[2020-09-21 03:23] noorulain17 commented on #500
Hello Petr,

I’ve WIP for this issue. Problem with iOS 14 is, it doesn’t have full
screen width for the datePickerView even for the datePickerStyle wheels.
So I’m investigating in it and will be needing another day or two for it.

Noor

On Mon, Sep 21, 2020 at 6:58 AM Petr Korolev <notifications@github.com>
wrote:

Sent from Gmail Mobile

[2020-09-21 04:02] noorulain17 commented on #500
Great, thanks for the update.

On Mon, Sep 21, 2020 at 10:23 AM Noor ul Ain Ali <noorulain.ali89@gmail.com>
wrote:

--
Regards,
Petr Korolev

[2020-09-24 17:08] noorulain17 commented on #491
#502

[2020-09-26 08:06] KheangSenghort commented on #500
Hello guys,

Could you help to check it on SDK ios version 14? I can't deploy an app on the App Store.
.
<img width="387" alt="Screen Shot 2020-09-26 at 12 04 27 PM" src="https://user-images.githubusercontent.com/7409935/94335959-799d7500-0009-11eb-8b3b-be90cc122f58.png">

[2020-09-26 09:48] noorulain17 commented on #500
@KheangSenghort what's the exact issue that you're facing?

[2020-09-27 12:46] skywinder commented on #491
@butterflyXX please have a look at example implementation!
thanks @noorulain17 !

[2020-09-27 13:17] skywinder commented on #500
fixed in  #502

[2020-09-27 13:17] #500 closed

[2020-09-27 13:19] skywinder commented on #426
fixed in [\#503](https://github.com/skywinder/ActionSheetPicker-3.0/pull/503) ([by noorulain17](https://github.com/noorulain17))

[2020-09-27 13:19] #426 closed

[2020-09-28 08:20] ivan-magda opened #505 "iOS 14 unable to select date in inline datePickerStyle"
After #502 (Added background tap gesture to dismiss picker view - Background tap issue) clicks on date in the calendar dismisses the action sheet in `UIDatePicker.Mode.date` and `UIDatePicker.Mode.dateAndTime` modes.

https://github.com/skywinder/ActionSheetPicker-3.0/pull/502/files#diff-5334c1a36535b23b6b5af4fb0b6712f5R261-R267

The documentation of the [UIGestureRecognizerDelegate.gestureRecogni

[2020-09-28 08:24] noorulain17 commented on #505
@ivan-magda do you also face this issue in `UIDatePicker.Mode.time` mode too?

The `Gesture Delegate` is returning `NO` for those views where the sheet is visible (by comparing the `viewTag`, because the bottom touch shouldn't dismiss the sheet, only the touch at the top translucent view should dismiss the view.

[2020-09-28 08:31] ivan-magda commented on #505
@noorulain17 `UIDatePicker.Mode.time` mode works well.

[2020-09-28 08:36] noorulain17 commented on #505
Hmm.. Technically all modes should have the problem. Thanks for reporting, I'll look into this.

[2020-09-28 08:55] ivan-magda opened #506 "iOS 14 datePicker not centered horizontally"
In iOS 14.0 the `UIDatePickerView` is not centered in the container horizontally (width is less than the view width).

![Simulator Screen Shot - iPhone 8 - 2020-09-28 at 11 47 13](https://user-images.githubusercontent.com/8586063/94411447-40881080-0181-11eb-8420-4c2ff2d63592.png)
![Simulator Screen Shot - iPhone 8 - 2020-09-28 at 11 47 16](https://user-images.githubusercontent.com/8586063/94411453

[2020-09-28 09:00] noorulain17 commented on #506
Yes, that's a known issue (#502).
The same viewWidth is working fine on the lower iOS versions.

[2020-09-28 09:07] ivan-magda commented on #506
@noorulain17 yes I saw this [comment](https://github.com/skywinder/ActionSheetPicker-3.0/pull/502#issuecomment-698448273) from you, I just created this issue so that it is not lost in the future.

[2020-09-28 09:10] noorulain17 commented on #506
Thanks, also you've got a valid point. We can centre the picker even if it's not taking the full viewWidth. Would be a better UX.

[2020-09-28 13:12] losernobody opened #507 "carthage update fails for "2.6.0", is successful for "2.5.1"."
- `carthage version`: 0.36.0
- `xcodebuild -version`: Xcode 11.7 Build version 11E801a

#### Command
[code]

#### Cartfile
[code]

#### Output
[code]

#### xcodebuild log
[carthage-xcodebuild.log](https://github.com/skywinder/ActionSheetPicker-3.0/files/5292427/carthage-xcodebuild.log)

#### PS
If Cartfile is changed to `github "skywinder/ActionSheetPicker-3.0" == 2.5.1`, carthage update is succes

[2020-09-29 18:35] skywinder commented on #507
oops, @noorulain17 probably related to last update

[2020-09-29 18:36] noorulain17 commented on #507
@skywinder not sure as we haven't changed anything related to Carthage.

[2020-09-29 18:40] skywinder commented on #507
oh, it was SPM! my bad!

[2020-09-29 18:45] skywinder commented on #487
@logeshvijayan did you try @hechukwu solution? does it work?

[2020-10-01 12:26] ronfridman commented on #506
+1

[2020-10-01 13:05] ddaddy commented on #507
The problem is with `UIDatePickerStyleInline`. As you are using Xcode 11.7 this style is not defined.
I have issued a pull request https://github.com/skywinder/ActionSheetPicker-3.0/pull/508 that should fix it.

[2020-10-01 13:29] ddaddy commented on #507
@losernobody can you maybe test it by changing your `Cartfile` to use `github "ddaddy/ActionSheetPicker-3.0" "develop"` before they merge it?

[2020-10-01 15:34] noorulain17 commented on #507
Fixed in #508

[2020-10-01 15:34] #507 closed

[2020-10-01 16:07] noorulain17 commented on #346
@MehulSojitra16 / @SashaLexor / @ChristianDeckert do you guys still face this issue on the latest version?

[2020-10-01 16:54] ronfridman commented on #506
Well.. I'm suggesting in the meantime until it will be fixed, to create a subclass of the ActionPicker and fix the constraint on the show() function.

something like:
[code]

[2020-10-06 07:04] tkirby opened #510 "Date Picker Wheels Not Showing Anymore on iOS 14"
I've been using this a long time but now the format seems to have changed for date picker. Before it would show wheels to selcte day/month/year. Now it's only showing the date as a button and when I click on that it's popping up a calendar. How can I get back to the old format?

![Simulator Screen Shot - iPhone 11 - 2020-10-06 at 13 54 37](https://user-images.githubusercontent.com/43665/95169203-b

[2020-10-06 07:09] tkirby commented on #346
+1

[2020-10-06 07:11] noorulain17 commented on #510
@tkirby the `datePickerStyle` in `ActionSheetDatePicker` is now dynamic ([after iOS 13.4 changes](https://github.com/skywinder/ActionSheetPicker-3.0/blob/develop/Pickers/ActionSheetDatePicker.h#L48)) and you can set it according to your app needs.
You can set `picker.datePickerStyle = .wheels` to get the wheels style.

[2020-10-06 07:23] tkirby commented on #510
Didn't realize this was a dupe.

[2020-10-06 07:23] #510 closed

[2020-10-07 15:26] skywinder commented on #510
if it's common case, maybe we should specify it in readme / migration guides

[2020-10-07 15:56] skywinder commented on #346
As I remember it happens when picker doesnt stop completley and you press done. It's standart behaviour of native picker, so we can't change it in the library.

[2020-10-07 17:04] skywinder commented on #506
Fixed in latest version!

[2020-10-07 17:04] #506 closed

[2020-10-07 17:06] noorulain17 commented on #510
@skywinder Sure

[2020-10-07 17:30] skywinder commented on #266
Close for now. Feel free to comment issue if you still need help. 👍

[2020-10-07 17:30] #266 closed

[2020-10-08 07:59] rextremotabaresDtt opened #512 "SPM: Cannot find type 'ActionSheetStringPicker' in scope"
I'm currently trying to migrate from Cocoapods to SPM but got this error `Cannot find type 'ActionSheetStringPicker' in scope` after adding SPM module. I've tried to import CoreActionSheetPicker but seems empty and apparently it cannot resolve its headers. How can you use SPM with ActionSheetPicker-3.0?

[2020-10-08 09:01] noorulain17 commented on #512
I'll check why in SPM all classes are not showing.

[2020-10-08 10:58] xjki opened #513 "Presenting picker fails when picker is presented within modally presented view controller on iPad (iOS 13.7) with ActionSheetPicker version 2.6.1."
Configuration: Xcode 11 / ActionSheetPicker 2.6.1 / iPad with iOS 13.7

Assuming you want to use UISplitViewController which presents modal editing interface (UIViewController within UINavigationController presented with pageSheet/formSheet modal presentation style), attempt to present picker in UIViewController will fail.

Console log message "Warning: Attempt to present <UIViewController> on
<UI

[2020-10-08 11:16] xjki commented on #513
CC: @cutmail

[2020-10-08 17:09] unwire-ios-team commented on #512
It is probably because 'Pickers' folder is outside `CoreActionSheetPicker` folder, which is declared as root source folder for package.

[2020-10-11 12:14] noorulain17 commented on #512
@unwire-ios-team yes you're right. Because the existing structure for `CoreActionSheetPicker` & `Picker` folders are not within the same folder. This needs a fix. I'll work on it tonight.

[2020-10-23 10:15] Tommecpe commented on #512
@noorulain17 did you find a way to fix it ? I've got the same error.

[2020-10-23 10:24] noorulain17 commented on #512
Hey @Tommecpe actually I got busy with the BN release, hence didn't get a chance to look into it yet.

[2020-10-25 13:46] noorulain17 commented on #512
@Tommecpe / @rextremotabaresDtt / @unwire-ios-team
https://github.com/skywinder/ActionSheetPicker-3.0/pull/517

[2020-10-25 13:51] noorulain17 commented on #505
Fixed in #514

[2020-10-25 13:51] #505 closed

[2020-10-25 14:14] noorulain17 commented on #344
Fixed in #518

[2020-10-25 14:14] #344 closed

[2020-10-25 18:31] noorulain17 commented on #513
cc: @xjki
https://github.com/skywinder/ActionSheetPicker-3.0/pull/519

[2020-10-26 05:02] #512 closed

[2020-10-26 05:49] #513 closed

[2020-11-03 10:16] losernobody commented on #512
This issue is observed in version '2.7.1'. Can anyone point out how to fix this?

[2020-11-11 11:31] noorulain17 commented on #470
@herrchmafi iOS 9 support has been dropped from `ActionSheetPicker-3.0 -> 2.6.1` version.
Please update the library and let us know if the above issue still exists or not.
Thanks

[2020-11-11 16:10] ddaddy opened #522 "Minimum iOS version"
In your last commits, did you mean to bump the minimum iOS version to 12?

The lowest Xcode 12 will allow is iOS 9, however it's auto updater sets it to 12.0 which means when building with Carthage it is not building the armv7 slice.

Can I/you change it back to 9.0 minimum?

[2020-11-11 17:35] noorulain17 commented on #522
@ddaddy will you please share the commit hash/link here in this thread?

[2020-11-11 17:43] ddaddy commented on #522
Commit #520 8c6c57b0e4b3a9b4de001e49c4351fe526211cfc
'Update to recommended settings'

[2020-11-14 20:08] noorulain17 commented on #522
@ddaddy `ActionSheetPicker-3.0` had dropped support for iOS 8.0 in #499.
Rest for Carthage related issue, please open the PR for the fix with the screenshot of the issue.
Thanks :)

[2020-11-14 20:10] ddaddy commented on #522
Hitting the update button in xcode 12 automatically sets minimum to 12.0 unless you untick the box. I'm guessing no one checked when doing that.
I'll submit a PR setting it back to 9.0

[2020-11-14 21:49] noorulain17 commented on #522
Thanks

[2020-11-21 08:17] skywinder commented on #522
Looks legit. @noorulain17 since you managed repo, feel free to merge!

[2020-11-21 18:34] maulikshah09 opened #524 "ios 14 issue display picker only one date ?"
![Simulator Screen Shot - iPhone 8 - 2020-11-22 at 00 02 44](https://user-images.githubusercontent.com/11289579/99884689-208f3d80-2c56-11eb-9696-997582b86723.png)

[2020-11-21 18:35] noorulain17 commented on #524
@maulikshah09 You need to change the picker style for the library

[2020-11-21 18:36] noorulain17 commented on #522
@skywinder Sure will do 🙂

[2020-11-22 05:45] maulikshah09 commented on #524
how can i select date here??

[2020-11-22 05:47] maulikshah09 commented on #524
can you help me to sort out this ... my app is mostly used your third party app..currently i am stuck and client also frustrated how can i change picker older why or   user can understood

[2020-11-26 20:07] sourabh31 commented on #524
@maulikshah09  you need to update some code

in class  "ActionSheetDatePicker.m"  --> function   "- (UIView *)configuredPickerView"

add below line of code, after that its work fine

[datePicker setPreferredDatePickerStyle:UIDatePickerStyleWheels];

[2020-11-27 14:57] maulikshah09 commented on #524
yes it's work fine but right side space is display.

[2020-11-29 16:09] #522 closed

[2020-11-29 16:12] noorulain17 commented on #524
1. Which version of the library are you using?
2. You can change the `datePickerStyle` using [this code](https://github.com/skywinder/ActionSheetPicker-3.0/blob/develop/Example%20Projects/Swift-Example/Swift-Example/ViewControllers/SWTableViewController.swift#L60).

Let me know if this helps.

[2020-11-29 16:14] noorulain17 commented on #487
Also @logeshvijayan , what's the theme of your app/device when the above issue is faced? Dark/Light?

[2020-11-29 16:15] noorulain17 commented on #351
@sabiland please update to the latest library version and let us know if it solves your problem or not.

[2020-11-29 16:17] noorulain17 commented on #324
@skywinder let's add dark/light theme support for `ActionSheetPicker`. This will solve related problems with text/background colors. Wdyt?

[2020-11-29 18:18] logeshvijayan commented on #487
@noorulain17  My theme of the application is dark. So we set the label colour as white. But the picker view was set to white background.I haven't tried @hechukwu  solution.I created a new custom picker view based on our requirements.But i will try the solution and let you know the outcome. soon

[2020-12-01 10:40] glennposadas commented on #524
just set your `datePickerStyle` to `UIDatePickerStyleWheels`.

Example:

[code]

No need to modify the library.

[2020-12-01 17:25] maulikshah09 commented on #524
Check on iphone 11 pro. space is display @glennposadas

[2020-12-02 11:44] losernobody opened #525 "Cannot use the library if is installed using Swift Package Manager"
This issue is same as the previous issue #512 .

I installed the '2.7.1' version of the library using SPM. There is no 'ActionSheetStringPicker' available after importing 'CoreActionSheetPicker'

[2020-12-04 10:42] danh-geo opened #526 "tapDismissAction broken after 2.5.1"
Hi, thanks for this awesome lib.

Using Xcode 12.1, iPhone 8 - 14.1 Simulator.

I'm using the `actionSheet?.tapDismissAction = .cancel` which worked fine up to and including version 2.5.1 when tapping above the actionsheet, it would call my cancel block. However, using any version after 2.5.1 (including the most recent 2.7.1) when I tap above the actionsheet, it **does** dismiss the actionsheet **

[2020-12-04 13:13] danh-geo commented on #526
The issue seems to be that `SWActionSheet.m` adds the following code:

(Lines 241-245)
[code]

Which intercept the tap and ignores the logic in `AbstractActionSheetPicker.m`
(Lines 328-331 in my case for the cancel block)
[code]

[2020-12-05 22:45] noorulain17 commented on #526
Thanks for identifying this issue.
I’ll look into this within this week.

[2020-12-07 07:56] #525 closed

[2020-12-19 01:44] noorulain17 commented on #526
@danh-geo please test the changes of #528

[2020-12-19 01:44] #526 closed

[2020-12-19 01:53] noorulain17 commented on #524
@maulikshah09 can you please share the screenshot with the space?

[2020-12-19 01:54] noorulain17 commented on #484
@Klavar what's the library & OS version you are using?

[2020-12-23 18:56] asnagni opened #529 "Data Linkage with ActionSheetMultipleStringPicker"
Hi guys,
  I'm just discovering this project and I wanted to say that it's a great project. Good job.

  I have a question for you. I would like to use ActionSheetMultipleStringPicker to display two sets of data (two rows) and link the data together: the content of the second row will be decided by the value selected in the first row.

   Can we do that with ActionSheetMultipleStringPicker?  If no

[2020-12-26 13:22] asnagni commented on #529
Hi guys,
   I forgot to close this issue. I solved it.

Thank you,
Stay safe.

[2020-12-26 13:23] #529 closed

[2020-12-26 13:23] asnagni commented on #529
Closed

[2020-12-31 09:18] skywinder commented on #324
@noorulain17 +++

[2021-01-04 09:53] glennposadas commented on #524
<img width="482" alt="Screen Shot 2021-01-04 at 5 53 37 PM" src="https://user-images.githubusercontent.com/12502679/103522765-ccfb4b00-4eb5-11eb-8605-33476c78528c.png">

@noorulain17  Hello. Here it is.

[2021-01-06 08:08] noorulain17 commented on #524
@glennposadas this issue has been fixed in [this commit](https://github.com/skywinder/ActionSheetPicker-3.0/commit/e279354b10eb5ccd4847a211866346c971ac1919) in PR #511 by @palmtrae.

Please update your library to the latest version and share your findings again :)

[2021-01-06 08:27] glennposadas commented on #524
Super cool! thank you so much!

On Wed, Jan 6, 2021 at 4:08 PM Noor ul Ain Ali <notifications@github.com>
wrote:

--
Best Regards,
Glenn Posadas

[2021-01-06 08:28] glennposadas commented on #524
On a second thought, @noorulain17 what we wanted to raise is the picker not being centered.

[2021-01-16 00:47] tcobbs-bentley opened #531 "cancel block not called if user taps outside action sheet"
I am using an ActionSheetDatePicker with a cancel block on an iPhone. If the user hits the Cancel button, this is called. However, if the user taps outside the the action sheet, the action sheet is hidden, but the cancel block is not executed, so my code doesn't have any (reasonable) way of knowing that the user canceled.

[2021-01-16 00:53] noorulain17 commented on #531
After [#528](https://github.com/skywinder/ActionSheetPicker-3.0/pull/528) is merged, this issue will be fixed

[2021-01-19 21:55] tcobbs-bentley commented on #531
I hadn't seen .tapDismissAction in the API, so wasn't using it. I have updated my code to set it to .cancel, but (as I assume you know) I still didn't get notified when the user tapped above the action sheet. Not reported here, the same thing happens in popover mode on an iPad. Let me know if you want me to create a separate issue for the iPad popover problem.

[2021-01-20 19:24] tcobbs-bentley opened #532 "SWActionSheetVC.dismissTap prevents calendar from working in inline style"
Using inline for the UIDatePicker's datePickerStyle does not work on phones. Tapping on a date causes it to dismiss. I debugged, and determined that SWActionSheetVC's dismissTap gesture recognizer is causing the problem. I don't know why it causes a problem with the inline style but not the wheels style.

[2021-01-28 17:20] Jeepston commented on #531
I confirm: tapDismissAction is not called, if it is not .none. I've tracked it to the fact that when adding gesture recognisers in AbstractActionSheetPicker showActionSheetPicker. _actionSheet.window is always nil, since SWActionSheet window is never called

[2021-01-28 19:22] noorulain17 commented on #531
@Jeepston I agree, my branch #528 is not yet merged so you're facing the issue.
Can you please specify my branch in your Podfile for ActionSheetPicker and test once?

[2021-01-29 06:26] sagarzala123 opened #533 "OK Button Locale not change"
OK Button language not change in French

![OK Not Change](https://user-images.githubusercontent.com/13331874/106239607-ed09fa00-6228-11eb-8f91-5d5a94cfa680.png)

[2021-01-29 08:19] Jeepston commented on #531
@noorulain17 I would be happy to, if you provide me with the instructions how to specify a brunch in Podfile (never done it before)

[2021-01-29 17:47] noorulain17 commented on #531
Hey @Jeepston
you can use the following code to test on your app

[code]

You can learn more about changing branch/tag, etc. in `Podfile` from [here](https://guides.cocoapods.org/using/the-podfile.html#from-a-podspec-in-the-root-of-a-library-repo)

[2021-02-02 12:50] Jeepston commented on #531
@noorulain17 I've tested your branch - the fix works on iPhones, but unfortunately, not on iPads...

[2021-02-02 12:51] noorulain17 commented on #531
Thanks @Jeepston for your feedback. I'll fix that on iPad too. Give me 2-3 days.

[2021-03-26 16:34] yevgeniipasko opened #534 "Current date is not available on compact Date picker style iOS 14.4 & above"
The picker does not contain current date selected on compact mode

Code to reproduce:
[code]
<img width="250" alt="Screenshot 2021-03-26 at 18 31 52" src="https://user-images.githubusercontent.com/70582179/112663574-ac61e200-8e61-11eb-8a67-b1b8e9d21c5e.png">

When I click this white empty view it redirects to compact picker view
<img width="250" alt="Screenshot 2021-03-26 at 18 31 58" src="https:/

[2021-04-14 13:03] coanag opened #535 "Exclude days or dates"
Hello,
is there any way to exclude dates or days from ActionSheetDatePicker?

Thank you in advance

[2021-04-20 08:22] migrant commented on #531
I have the same problem and noticed #528. But it have not been merged when 2 month passed

[2021-04-22 14:13] jakmirinsight commented on #531
The PR is pending, https://github.com/skywinder/ActionSheetPicker-3.0/pull/528 would easily solve it.

[2021-04-27 01:34] havetherain opened #536 ""exported: true has no effect in '_specialize' attribute" Issue at Xcode 12.5"
![image](https://user-images.githubusercontent.com/53065255/116171541-f16c8300-a743-11eb-9489-73b4e62ec14e.png)

[2021-04-27 01:45] havetherain commented on #536
this issue about CryptoSwift
I need fast solution

[2021-04-27 02:01] #536 closed

[2021-04-27 02:01] havetherain commented on #536
Sorry I was mistake

[2021-04-29 09:03] swifthing opened #537 "Not working with Swift Package Manager [bug]"
If I use Cocoapod it is working

But if I use SPM I have an error:
<img width="1119" alt="Capture d’écran 2021-04-29 à 10 57 24" src="https://user-images.githubusercontent.com/66845529/116526573-0713b100-a8da-11eb-9f3d-65d0d1cb9c6c.png">

Module is correctly installed in SPM:
<img width="982" alt="Capture d’écran 2021-04-29 à 10 58 21" src="https://user-images.githubusercontent.com/66845529/116526

[2021-05-05 04:48] liangbsu commented on #536
how you fix it?

[2021-06-06 03:08] vewert commented on #537
I was getting this too. I changed the import to:

`import CoreActionSheetPicker`

which got rid of that error, but then wherever I tried to use the pickers I got the following errors like:

"Cannot find 'ActionSheetStringPicker' in scope"

[2021-06-06 03:10] vewert commented on #537
I also noticed the following compile error:

`/Users/vewert/Library/Developer/Xcode/DerivedData/iPWMinder-hbyymbcbqlydgwcgjgemijqtdgct/Build/Intermediates.noindex/GeneratedModuleMaps-iphonesimulator/CoreActionSheetPicker.modulemap:2:10: Umbrella directory '/Users/vewert/Library/Developer/Xcode/DerivedData/iPWMinder-hbyymbcbqlydgwcgjgemijqtdgct/SourcePackages/checkouts/ActionSheetPicker-3.0/CoreAct

[2021-06-06 16:03] jolyot opened #538 "Remove the pieces of the code for less than the Deployment Target"
In the latest release, the `Deployment Target` is `iOS9`, but there are pieces of code in the library for less than this Target OS. For example, the following section:
https://github.com/skywinder/ActionSheetPicker-3.0/blob/e0f58d81896bf6e7857f9edc41ab3fcb6ef4629e/CoreActionSheetPicker/CoreActionSheetPicker/Pickers/SWActionSheet.m#L264-L277

I think it is better to remove this code since it does n

[2021-06-27 09:55] noorulain17 commented on #538
Good point.
@jolyot do you want to open a PR for this?

[2021-06-27 10:21] noorulain17 commented on #533
@sagarzala123 are you using `ActionSheetLocalePicker` or `ActionSheetStringPicker`?

[2021-06-27 18:36] swifthing commented on #537
Up

[2021-06-28 05:04] jolyot commented on #538
@noorulain17
Yes, I would like to open a PR for this.

[2021-06-28 19:14] kkolontai commented on #537
the same for. me

[2021-07-01 08:14] noorulain17 commented on #538
Thanks a lot @jolyot. Assigning this issue to you and looking forward for the PR.

[2021-07-02 03:33] sagarzala123 commented on #533
I am using `ActionSheetStringPicker`.

[2021-07-07 00:17] muh-bilal commented on #537
Happening for me as well.

[2021-08-24 18:10] bariscbaskan commented on #346
Misinformation, because there is always a day missing date.

[2021-09-18 23:59] mrafayfarooq opened #540 "Picker not showing on iPad but only on iPhone"
I am working on an app that uses ActionSheetPicker version 2.7.1. The app shows all the pickers fine when use from iPhone but fails on iPad. Below is the code to show the picker and it's being shown from a table view cell
[code]
on the logs, I get this

[code]
so somewhere it's breaking the view. Any help would be appreciated.

[2021-09-19 13:07] noorulain17 commented on #540
@mrafayfarooq you need to define the origin view in iPad (other than the main `UIViewController` view)
<img width="1148" alt="Screen Shot 2021-09-19 at 5 06 46 PM" src="https://user-images.githubusercontent.com/6180345/133928664-2c46cf63-d645-4c4b-9e96-fcaf156f342c.png">

[2021-09-19 13:07] #540 closed

[2021-09-19 13:08] #538 closed

[2021-09-19 13:42] noorulain17 commented on #534
Fixed in #541

[2021-09-19 13:42] #534 closed

[2021-09-28 08:04] hechukwu commented on #531
I'm having this issue too has it been fixed

[2021-09-28 08:11] noorulain17 commented on #531
@hechukwu the fix has been merged to `develop` branch, you can test is using
[code]
@skywinder or I will release a new version of the library in a few days

[2021-09-28 08:18] hechukwu commented on #531
Thank you

[2021-09-28 08:38] hechukwu commented on #531
Didn't seem to work. When I type outside the action sheet and it dismisses when I try to open it again it doesn't work

[2021-09-28 08:39] hechukwu commented on #531
`if !pickerIsActive {
            pickerIsActive = true
            let subspaceName = self.subspaces.map { $0.name }
            let title = subspaces.count == 0 ? "There are no subspaces" : "Select Subspace"
            let initialIndex = 0
            let picker = ActionSheetStringPicker.show(withTitle: title, rows: subspaceName as [Any], initialSelection: initialIndex, doneBlock: { picker, ind

[2021-09-28 10:24] hechukwu commented on #531
@noorulain17 I'm using the branch but it's still not working

[2021-09-28 10:25] noorulain17 commented on #531
@hechukwu thanks for the update. I'll work on this on the weekend.
Or if you would like to open the fix PR, you're more than welcome :)
Thanks for using ActionSheetPicker.

[2021-09-28 11:22] hechukwu commented on #531
@noorulain17 sure thing bro. This is a great tool been using for most of my projects.

[2021-10-03 13:25] noorulain17 commented on #350
@zoufishanmehdi please update if you're still facing this issue

[2021-10-13 17:17] mrafayfarooq opened #543 "Picker not appearing if try to show back to back"
I have a use case where I am showing two pickers one after the other. I noticed that on the iPad, if I show one picker and on Success block, try to show another ActionSheet Picker it doesn't show up maybe because the origin of the first picker and the second is the same and if the first one doesn't dismiss, the second one cant be shown. Is there a way to dismiss the current picker using any API be

[2021-12-03 06:18] pushian commented on #522
![Screenshot 2021-12-03 at 2 10 53 PM](https://user-images.githubusercontent.com/16488850/144554760-da410945-1f89-4822-8866-6018625e7c3a.png)
For the latest version, no armv7 slice is built for xcframework which will cause build error of the following:

ld: warning: ignoring file /Users/yangfanliu/Library/Developer/Xcode/DerivedData/FooyoSDKExample-dtnhbajhphjudubbvjbuqrtniiwv/Build/Intermediates.

[2022-02-10 05:15] #537 closed

[2022-02-17 10:14] palvajk opened #548 "ActionSheet opens in wrong display when iphone is connected to an external display."
ActionSheet open on the external display instead of iphone display.

[2022-02-21 09:29] #548 closed

[2022-04-14 15:58] willm132 opened #552 "Mac Catalyst Warnings"
'statusBarStyle' is deprecated: first deprecated in macCatalyst 13.1 - Use the statusBarManager property of the window scene instead.

'statusBarHidden' is deprecated: first deprecated in macCatalyst 13.1 - Use the statusBarManager property of the window scene instead.

'beginAnimations:context:' is deprecated: first deprecated in macCatalyst 13.1 - Use the block-based animation API instead

'setA

[2022-04-15 19:50] RahulTak commented on #348
would be glad to help you

[2022-07-06 14:17] willm132 commented on #552
Any updates on this?

[2022-07-11 09:22] tflin commented on #531
@noorulain17 Thanks for the reply. It seems this issue is not fixed on iPhone or iPad. Please help to fix/merge the code if possible. Thanks!

[2022-08-04 00:21] willm132 opened #554 "SPM Issues"
'CoreActionSheetPicker/AbstractActionSheetPicker.h' file not found

[2022-08-25 07:06] Wei18 commented on #554
https://github.com/skywinder/ActionSheetPicker-3.0/pull/555#issue-1350362796

[2022-08-26 01:10] willm132 opened #556 "Adjust Picker Width"
Text is being cut off due to small width of picker. Is there a way to auto size width to fit largest text? Or to set the width to full screen?

<img width="345" alt="Screen Shot 2022-08-25 at 9 09 33 PM" src="https://user-images.githubusercontent.com/47162632/186795247-200721e0-988e-4429-9a63-32fc21531b5d.png">

[2022-09-26 20:34] sanjay2001 commented on #272
Is there an bitcode enabled version of this lib ?

[2022-09-28 05:36] loilee commented on #531
Any update on this? thanks.

[2022-10-24 14:04] jcooperation0137 commented on #272
@sanjay2001
Have you installed ActionSheetPicker by using cocoapods?
If yes, you can select Pods/Targets/ActionSheetPicker-[version] and then search bitcode in Build Settings and make Enable Bitcode as true. If you can't find it, you might forget to select All filter option instead of Basic.